Repository ngraczykowski/iris-root, changes with the owners that CODEOWNERS names for each.
All owners: @ahaczewski, @SilentEight/devops, @SilentEight/architecture, @kkicza

ci: remove version number from google-java-format (#60)
  .jenkins/Jenkinsfile
Owners: @SilentEight/devops

ci: add ssh agent to pre-commit stage (#62)
  .jenkins/Jenkinsfile
Owners: @SilentEight/devops

INTERNAL Moved compressing message to recommendations module (ALL-639)
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/RecommendationsGeneratedFlowRabbitMqTestConfig.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/RecommendationReceivedFlowRabbitMqTestConfig.groovy
Owners: none

INTERNAL: Batches table - Renamed external_id to batch_id and added unique constraint (ALL-544)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/BatchEntity.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/CrudBatchRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/JdbcBatchRepository.java
  modules/core-bridge/bridge-app/src/main/resources/db/changelog/changes/db.changelog-core-bridge-1.0.0.yaml
  modules/core-bridge/bridge-app/src/main/resources/db/changelog/db.changelog-master.yaml
Owners: none

ENHANCEMENT: More descriptive error description of alert extraction (ALL-601)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/incoming/AlertMatchesFeatureInputFedReceivedListener.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/CrudAlertRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/JdbcAlertRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/AddAlertToAnalysisCommand.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/AlertAnalysisService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/port/outgoing/AlertRepository.java
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/AlertMatchesFeatureInputFedReceivedFlowIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/incoming/AlertMatchesFeatureInputFedReceivedListenerSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/AlertAnalysisServiceSpec.groovy
  modules/core-bridge/gradle/scripts/dependencies.gradle
Owners: none

INTERNAL: Get recommendations API filters recommendations by alertNames (if provided) (ALL-673)
  modules/core-bridge/README.md
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/incoming/RecommendationGrpcService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/CrudRecommendationRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/JdbcRecommendationRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/RecommendationFacade.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/command/GetRecommendationCommand.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/port/outgoing/RecommendationRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/RabbitEventMapper.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/BatchService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/BatchTimeoutService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/RegistrationFacade.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/command/CompleteBatchCommand.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/model/BatchCompleted.java
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/AnalysisTimeoutFlowIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/domain/RecommendationFacadeSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/domain/RecommendationFixtures.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/RecommendationReceivedFlowIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/incoming/AlertMatchesFeatureInputFedReceivedAmqpListenerSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/incoming/RecommendationsDeliveredRabbitAmqpListenerSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/outgoing/RabbitBatchEventPublisherSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/outgoing/RabbitEventMapperSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/BatchServiceSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/BatchTimeoutServiceSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/RegistrationFacadeSpec.groovy
  modules/core-bridge/gradle/scripts/dependencies.gradle
Owners: none

INTERNAL: Calling foreign subdomain using outgoing adapter (ALL-599)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/incoming/RecommendationGrpcService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/RegistrationServiceAdapter.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/RecommendationFacade.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/RecommendationMapper.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/command/GetRecommendationCommand.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/model/BatchWithAlertsDto.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/port/outgoing/RegistrationService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/RecommendationsStatisticsServiceAdapter.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/AlertAnalysisService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/BatchStatisticsService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/model/RecommendationsStatistics.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/port/outgoing/MatchRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/port/outgoing/RecommendationsStatisticsService.java
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/adapter/outgoing/RegistrationServiceAdapterSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/domain/RecommendationFacadeSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/domain/RecommendationFixtures.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/domain/RecommendationMapperSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/outgoing/RecommendationsStatisticsServiceAdapterSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/BatchStatisticsServiceSpec.groovy
Owners: none

INTERNAL: merge solving and simulation UDS fed integration tests (ALL-719)
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/AlertMatchesFeatureInputFedReceivedFlowIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/MatchFeatureInputFedReceivedFlowIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/MatchFeatureInputFedReceivedFlowTestConfig.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/MatchFeatureInputFedSimulationFlowFixtures.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/MatchFeatureInputFedSimulationFlowIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/MatchFeatureInputFedSimulationFlowTestConfig.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/UdsFedFixtures.groovy
Owners: none

INTERNAL: kill_timeout increased to 30s (ALL-692)
  modules/core-bridge/nomad/core-bridge.nomad
Owners: none

Snapshot 0.5.0-SNAPSHOT
  modules/core-bridge/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Projection properties fixed. Recommendaitons mock matches names got from db (ALL-620)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/infrastructure/grpc/RecommendationServiceClientMock.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/AlertIdNameProjection.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/BatchIdWithPolicyProjection.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/JdbcAlertMapper.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/JdbcBatchRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/infrastructure/grpc/AlertServiceClientMock.java
Owners: none

Snapshot 0.11.0-SNAPSHOT
  modules/core-bridge/gradle.properties
Owners: @SilentEight/architecture

Fixed formatting of Nomad configuration (ALL-634)
  modules/core-bridge/nomad/conf/application.yaml
Owners: none

INTERNAL Decompressing recommendations generated message (ALL-639)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/infrastructure/amqp/Lz4DecompressingPostProcessor.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/infrastructure/amqp/Lz4Utils.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/infrastructure/amqp/RabbitTemplatePostProcessor.java
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/RecommendationReceivedFlowRabbitMqTestConfig.groovy
  modules/core-bridge/gradle/scripts/dependencies.gradle
Owners: none

Initial commit
  modules/core-bridge/README.md
Owners: none

INTERNAL: Get and store recommendation from AE and publish Recommendation Received event (ALL-464)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/.gitkeep
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/CrudRecommendationRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/JdbcRecommendationRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/RecommendationEntity.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/RecommendationReceivedEventPublisher.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/RecommendationServiceAdapter.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/.gitkeep
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/RecommendationFacade.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/exceptions/CannotGetRecommendationsException.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/model/FeatureMetadata.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/model/MatchMetadata.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/model/RecommendationMetadata.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/model/RecommendationWithMetadata.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/model/RecommendationsReceivedEvent.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/port/outgoing/RecommendationEventPublisher.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/port/outgoing/RecommendationRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/port/outgoing/RecommendationService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/infrastructure/.gitkeep
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/infrastructure/amqp/RecommendationRabbitConfiguration.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/infrastructure/amqp/RecommendationRabbitProperties.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/infrastructure/db/JdbcConverterConfiguration.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/infrastructure/grpc/RecommendationGrpcConfigurationProperties.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/infrastructure/grpc/RecommendationGrpcServiceConfiguration.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/infrastructure/grpc/RecommendationServiceClientMock.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/infrastructure/grpc/GrpcConfigurationProperties.java
  modules/core-bridge/bridge-app/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  modules/core-bridge/bridge-app/src/main/resources/application.yaml
  modules/core-bridge/bridge-app/src/main/resources/db/changelog/changes/db.changelog-core-bridge-1.0.0.yaml
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/BatchRepositoryIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/RecommendationRepositoryIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/adapter/outgoing/RecommendationReceivedEventPublisherSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/adapter/outgoing/RecommendationServiceAdapterSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/domain/RecommendationFacadeSpec.groovy
  modules/core-bridge/gradle/scripts/dependencies.gradle
Owners: none

INTERNAL: Rabbit delayed messages using TTL and DLQ (ALL-655)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/infrastructure/amqp/RecommendationRabbitConfiguration.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/incoming/VerifyBatchTimeoutAmqpListener.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/VerifyBatchTimeoutRabbitPublisher.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/infrastructure/amqp/AmqpRegistrationIncomingVerifyBatchTimeoutProperties.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/infrastructure/amqp/AmqpRegistrationOutgoingVerifyBatchTimeoutProperties.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/infrastructure/amqp/RegistrationRabbitConfiguration.java
  modules/core-bridge/bridge-app/src/main/resources/application.yaml
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/AnalysisTimeoutFlowIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/outgoing/VerifyBatchTimeoutRabbitPublisherSpec.groovy
Owners: none

ENHANCEMENT: Implement Batch priority (ALL-665)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/incoming/RegistrationGrpcService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/AlertRegistrationMapper.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/BatchEntity.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/BatchPriorityProjection.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/CrudBatchRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/JdbcBatchRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/AlertMapper.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/AlertService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/BatchService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/RegistrationFacade.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/command/RegisterBatchCommand.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/model/AlertsToRegister.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/model/Batch.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/model/BatchPriority.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/port/outgoing/BatchRepository.java
  modules/core-bridge/bridge-app/src/main/resources/db/changelog/changes/db.changelog-core-bridge-1.0.0.yaml
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/RegistrationGrpcServiceIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/outgoing/AlertRegistrationAdapterSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/outgoing/AlertRegistrationMapperSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/AlertMapperSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/AlertServiceSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/AlertServiceSpecHelper.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/BatchServiceSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/RegistrationFacadeSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/RegistrationFixtures.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/port/outgoing/BatchRepositoryIntegrationSpec.groovy
  modules/core-bridge/gradle/scripts/dependencies.gradle
Owners: none

ENHANCEMENT: Add dist to Core Bridge
  modules/core-bridge/bridge-dist/build.gradle
  modules/core-bridge/bridge-dist/src/bash/run.template.sh
  modules/core-bridge/build.gradle
  modules/core-bridge/settings.gradle
Owners: @SilentEight/architecture

fix: adding prehook result to core-bridge (ARC-107)
  modules/core-bridge/.gitignore
  modules/core-bridge/README.md
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/jdbc/CrudRecommendationStatisticsRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/jdbc/CrudAlertRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/jdbc/CrudBatchRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/jdbc/CrudBatchStatisticsRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/jdbc/JdbcAlertRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/infrastructure/grpc/RecommendationCreatorMock.java
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/BaseSpecificationIT.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/RecommendationsStoredFlowIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/RegistrationGrpcServiceIntegrationSpec.groovy
  modules/core-bridge/docker-compose.yml
Owners: none

INTERNAL: Disallow registering already failed, completed or delivered (ALL-575)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/BatchService.java
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/BatchServiceSpec.groovy
Owners: none

INTERNAL: Register batch for simulation (ALL-718)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/incoming/grpc/RegistrationGrpcService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/amqp/BatchEventRabbitPublisher.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/amqp/RabbitEventMapper.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/jdbc/BatchEntity.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/jdbc/JdbcBatchRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/BatchService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/command/NotifyBatchErrorCommand.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/command/RegisterBatchCommand.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/model/Batch.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/model/BatchError.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/strategy/BatchRegistrationStrategy.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/strategy/BatchSimulationRegistrationStrategy.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/strategy/BatchSolvingRegistrationStrategy.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/strategy/BatchStrategyFactory.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/strategy/BatchStrategyName.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/strategy/BatchStrategyNameProvider.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/infrastructure/amqp/AmqpRegistrationOutgoingNotifyBatchErrorProperties.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/reports/adapter/outgoing/amqp/ReportsSenderServiceAdapter.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/reports/domain/ReportsService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/reports/domain/port/outgoing/ReportsSenderService.java
  modules/core-bridge/bridge-app/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  modules/core-bridge/bridge-app/src/main/resources/application.yaml
  modules/core-bridge/bridge-app/src/main/resources/db/changelog/changes/db.changelog-core-bridge-1.0.0.yaml
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/AnalysisTimeoutFlowIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/BaseSpecificationIT.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/AlertMatchesFeatureInputFedReceivedFlowIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/NotifyBatchErrorFlowRabbitMqTestConfig.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/RecommendationsStoredFlowIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/RegistrationGrpcServiceIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/outgoing/amqp/BatchEventRabbitPublisherSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/BatchServiceSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/RegistrationFixtures.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/strategy/BatchSimulationRegistrationStrategySpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/strategy/BatchSolvingRegistrationStrategySpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/reports/ReportsSenderFlowIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/reports/ReportsSenderFlowWithoutMetadataIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/reports/adapter/outgoing/amqp/ReportsSenderServiceAdapterSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/reports/domain/ReportsServiceSpec.groovy
  modules/core-bridge/gradle/scripts/dependencies.gradle
Owners: none

INTERNAL: Batch timeout feature flag (ALL-675)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/VerifyBatchTimeoutRabbitPublisher.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/infrastructure/amqp/AmqpRegistrationOutgoingVerifyBatchTimeoutProperties.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/infrastructure/amqp/RegistrationRabbitConfiguration.java
  modules/core-bridge/bridge-app/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  modules/core-bridge/bridge-app/src/main/resources/application.yaml
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/outgoing/VerifyBatchTimeoutRabbitPublisherSpec.groovy
Owners: none

INTERNAL: Recommendations processing timeout (ALL-488)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/incoming/NotifyBatchTimeoutRabbitAmqpListener.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/incoming/RecommendationsRabbitAmqpListener.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/CrudRecommendationRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/JdbcRecommendationRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/RecommendationAlertNameProjection.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/RecommendationEntity.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/RecommendationServiceAdapter.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/RecommendationsReceivedEventPublisher.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/RecommendationFacade.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/RecommendationMapper.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/RecommendationProcessor.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/RecommendationsStatisticsService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/command/ProceedBatchTimeoutCommand.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/command/ReadyRecommendationsCommand.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/model/RecommendationMetadata.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/model/RecommendationWithMetadata.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/model/RecommendedAction.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/port/outgoing/RecommendationRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/infrastructure/amqp/RecommendationIncomingNotifyBatchTimeoutConfigurationProperties.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/infrastructure/amqp/RecommendationRabbitConfiguration.java
  modules/core-bridge/bridge-app/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  modules/core-bridge/bridge-app/src/main/resources/application.yaml
  modules/core-bridge/bridge-app/src/main/resources/db/changelog/changes/db.changelog-core-bridge-1.0.0.yaml
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/ExternalExchangesConfigurationIT.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/domain/RecommendationFacadeSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/domain/RecommendationFixtures.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/domain/RecommendationMapperSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/domain/RecommendationProcessorSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/domain/RecommendationsStatisticsServiceSpec.groovy
  modules/core-bridge/gradle/scripts/dependencies.gradle
Owners: none

INTERNAL: Retention test
  modules/core-bridge/bridge-app/src/main/resources/application.yaml
Owners: none

Snapshot 0.8.0-SNAPSHOT
  modules/core-bridge/gradle.properties
Owners: @SilentEight/architecture

feat: import core bridge (ARC-107)
  gradle/libs.versions.toml
  modules/core-bridge/Jenkinsfile
  modules/core-bridge/Jenkinsfile-mergerequest
  modules/core-bridge/bridge-app/build.gradle
  modules/core-bridge/build.gradle
  modules/core-bridge/gradle.properties
  modules/core-bridge/gradle/scripts/dependencies.gradle
  modules/core-bridge/gradle/wrapper/gradle-wrapper.jar
  modules/core-bridge/gradle/wrapper/gradle-wrapper.properties
  modules/core-bridge/gradlew
  modules/core-bridge/merge.properties
  modules/core-bridge/settings.gradle
  modules/settings.gradle
Owners: @SilentEight/architecture

INTERNAL: Add necessary dependency (ALL-603)
  modules/core-bridge/gradle/scripts/dependencies.gradle
Owners: none

INTERNAL: Schema migrations renaming (ALL-660)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/CrudRecommendationRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/RecommendationEntity.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/infrastructure/grpc/RecommendationServiceClientMock.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/AlertEntity.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/BatchEntity.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/CrudAlertRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/CrudBatchRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/MatchEntity.java
  modules/core-bridge/bridge-app/src/main/resources/db/changelog/changes/db.changelog-core-bridge-1.0.0.yaml
Owners: none

BUGFIX: Add bridge.command exchange to definitions.json (ALL-728)
  modules/core-bridge/docker/rabbitmq/definitions.json
Owners: none

ENHANCEMENT: Enable Sentry.io (ALL-626)
  modules/core-bridge/nomad/conf/application.yaml
Owners: none

Snapshot 0.13.0-SNAPSHOT
  modules/core-bridge/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: E2E test new property & running config (ALL-732)
  modules/core-bridge/Jenkinsfile
  modules/core-bridge/nomad/e2etest.sh
Owners: none

INTERNAL: Marking batch as DELIVERED should be allowed for ERROR batch (ALL-628)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/BatchService.java
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/BatchServiceSpec.groovy
Owners: none

ENHANCEMENT: add jib build (ARC-79)
  modules/core-bridge/Jenkinsfile
  modules/core-bridge/bridge-app/build.gradle
  modules/core-bridge/helm-chart/.gitkeep
  modules/core-bridge/scripts/.gitkeep
Owners: @SilentEight/architecture

ENHANCEMENT: Enable Sentry.io (ALL-626)
  modules/core-bridge/bridge-app/src/main/resources/application.yaml
  modules/core-bridge/gradle/scripts/dependencies.gradle
  modules/core-bridge/nomad/conf/application.yaml
  modules/core-bridge/nomad/core-bridge.nomad
Owners: none

INTERNAL: Application name tag for prometheus (ALL-782)
  modules/core-bridge/bridge-app/src/main/resources/application.yaml
Owners: none

INTERNAL: Mike env condition fixed (ALL-625)
  modules/core-bridge/Jenkinsfile
Owners: none

INTERNAL: Mocking recommendations disabled on Nomad (ALL-634)
  modules/core-bridge/nomad/conf/application.yaml
Owners: none

feat: import core bridge (ARC-107)
  gradle/libs.versions.toml
Owners: @SilentEight/architecture

CODEOWNERS:

/gradle/wrapper/* @ahaczewski
/gradlew          @ahaczewski
/gradlew.bat      @ahaczewski

/.jenkins/*   @SilentEight/devops
/.github/*    @SilentEight/architecture

/.github/workflows/*      @ahaczewski

/.idea/**/*               @ahaczewski
/.editorconfig            @ahaczewski
/.gitattributes           @ahaczewski
/.gitignore               @ahaczewski
/.pre-commit-config.yaml  @ahaczewski
/CODEOWNERS               @ahaczewski

/build-logic/**/* @SilentEight/architecture
/platforms/**/*   @SilentEight/architecture
/gradle/*.toml    @SilentEight/architecture
build.gradle      @SilentEight/architecture
gradle.properties @SilentEight/architecture
settings.gradle   @SilentEight/architecture

/tests/**/*       @kkicza
