Repository ngraczykowski/iris-root, changes with the owners that CODEOWNERS names for each.
All owners: @ahaczewski, @SilentEight/devops, @SilentEight/architecture, @pputerla, @snieguu, @SilentEight/qa, @SilentEight/delta, @SilentEight/whiskey

Update Jenkinsfile
  etl-pipeline/Jenkinsfile
Owners: none

Update Jenkinsfile
  etl-pipeline/Jenkinsfile
Owners: none

fix: latest version od date agent has error
  kubernetes/values.foxtrot.yaml
Owners: none

Update Jenkinsfile
  hit-type-agent/Jenkinsfile
Owners: none

Bump version: 0.3.7 → 0.3.8
  hit-type-agent/setup.cfg
  hit-type-agent/setup.py
Owners: none

fix(e2e-tests): proper tag handling (#163)
  .jenkins/Jenkinsfile.release
  tests/e2e-tests/src/test/java/features/SierraTests.feature
Owners: @SilentEight/devops, @SilentEight/qa

feat(in-memeory-solving): Code cleanup, remove unnecessary dependencies to Hazelcast (AEP2-964) (#165)
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/CategoryResolveProcess.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/CommentInputResolveProcess.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/ProcessConfiguration.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/port/SolvingAlertReceivedPort.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/GovernanceAlertPublisher.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/PublisherConfiguration.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/ReadyMatchFeatureVectorPublisher.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/infrastructure/hazelcast/HazelcastConfigurationProperties.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/infrastructure/hazelcast/InMemoryStorageProviderConfiguration.java
Owners: @SilentEight/delta

feat(e2e-tests): write learning and solving tests(ARC-119) (ARC-120) (#162)
  kubernetes/values.foxtrot.yaml
  modules/warehouse/warehouse-app/src/main/resources/config/application-foxtrot.yml
  tests/e2e-tests/src/test/java/features/FoxtrotTests.feature
  tests/e2e-tests/src/test/java/features/HotelTests.feature
  tests/e2e-tests/src/test/java/features/SierraTests.feature
  tests/e2e-tests/src/test/java/steps/NameScreeningSteps.java
  tests/e2e-tests/src/test/java/steps/WarehouseSteps.java
  tests/e2e-tests/src/test/java/utils/datageneration/CommonUtils.java
  tests/e2e-tests/src/test/java/utils/datageneration/governance/GovernanceGenerationService.java
  tests/e2e-tests/src/test/java/utils/datageneration/namescreening/BatchGenerationService.java
  tests/e2e-tests/src/test/java/utils/datageneration/namescreening/ftcc/FtccAlert.java
  tests/e2e-tests/src/test/java/utils/datageneration/namescreening/ftcc/FtccAlertGenerationService.java
  tests/e2e-tests/src/test/java/utils/datageneration/simulations/SimulationGenerationService.java
  tests/e2e-tests/src/test/resources/alertTemplates/ftcc/learningAlertTemplate.json
  tests/e2e-tests/src/test/resources/alertTemplates/ftcc/solvingAlertTemplate.json
  tests/e2e-tests/src/test/resources/alertTemplates/hsbc/alertTemplate1.json
  tests/e2e-tests/src/test/resources/alertTemplates/hsbc/alertTemplate2.json
  tests/e2e-tests/src/test/resources/alertTemplates/hsbc/alertTemplate3.json
Owners: @SilentEight/whiskey, @SilentEight/qa

Add new config fields + demo
  etl-pipeline/Jenkinsfile
  etl-pipeline/application/application_wm_party_in_payload_format.json
  etl-pipeline/cleaners/process_yamls.py
  etl-pipeline/config/agents/agents.yaml
  etl-pipeline/config/pipeline/flow.yaml
  etl-pipeline/config/pipeline/pipeline.yaml
  etl-pipeline/docker/prod/Dockerfile
  etl-pipeline/docker/prod/docker-compose.yaml
  etl-pipeline/docker/service/prod/docker-compose.yaml
  etl-pipeline/etl_pipeline/__main__.py
  etl-pipeline/etl_pipeline/config/__init__.py
  etl-pipeline/etl_pipeline/data_processor_engine/engine/engine.py
  etl-pipeline/etl_pipeline/data_processor_engine/json_engine/json_engine.py
  etl-pipeline/etl_pipeline/pipeline.py
  etl-pipeline/notebooks/Flow design.ipynb
  etl-pipeline/notebooks/Local json pipeline.ipynb
  etl-pipeline/notebooks/application/application_wm_address_in_payload_format.json
  etl-pipeline/notebooks/application/application_wm_party_in_payload_format.json
  etl-pipeline/notebooks/notebooks/application/application_wm_address_in_payload_format.json
  etl-pipeline/notebooks/notebooks/application/application_wm_party_in_payload_format.json
  etl-pipeline/notebooks/sample/application_wm_party_in_payload_format.json
  etl-pipeline/notebooks/sample/wm_address_in_payload_format.json
  etl-pipeline/pipelines/ms/collection/__init__.py
  etl-pipeline/pipelines/ms/functions/__init__.py
  etl-pipeline/pipelines/ms/ms_pipeline.py
  etl-pipeline/tests/shared/big_fat_payload_parsed.json
  etl-pipeline/tests/shared/empty_payload.json
  etl-pipeline/tests/shared/parsed_payload.json
  etl-pipeline/tests/shared/parsed_payload_2_payload.json
  etl-pipeline/tests/shared/wm_party_payload_with_partial_supplemental_info.json
  etl-pipeline/tests/test_json/constant.py
  etl-pipeline/tests/test_json/test_integration/expected_features/test_ok_flow_features/features_alerts_2_matches_1.json
  etl-pipeline/tests/test_json/test_json_pipeline.py
  etl-pipeline/tests/test_json/test_processing_engine.py
Owners: none

Add MAX LENGTH message variable
  etl-pipeline/config/service/service.yaml
  etl-pipeline/etl_pipeline/__main__.py
  etl-pipeline/etl_pipeline/config/__init__.py
Owners: none

feat(ae): Unit tests for solvingAlertReceivedProcess (AEP2-955) (#166)
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/CategoryResolveProcess.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/CommentInputResolveProcess.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/SolvingAlertReceivedProcess.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/port/CategoryResolveProcessPort.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/port/CommentInputResolveProcessPort.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/data/MatchFeatureDataAccess.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/domain/MatchFeature.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/AgentsMatchPortMock.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/CategoryResolveProcessPortMock.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/CommentInputResolveProcessMock.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/InMemoryAlertSolvingRepository.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/InMemoryAlertSolvingRepositoryMock.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/InMemoryMatchFeatureDataAccess.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/ReadyMatchFeatureVectorPortMock.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/SolvingAlertReceivedProcessTest.java
Owners: @SilentEight/delta

Fix (#3)
  etl-pipeline/etl_pipeline/__main__.py
Owners: none

fix(e2e-tests): readme updates; jenkinsfile cleanup (#164)
  .jenkins/Jenkinsfile.release
  kubernetes/values.sierra.yaml
  tests/e2e-tests/README.md
Owners: @SilentEight/devops, @SilentEight/qa

feat(e2e-tests): adding alert solving test for sierra (#167)
  tests/e2e-tests/src/test/java/features/SierraTests.feature
  tests/e2e-tests/src/test/java/steps/PaymentsBridgeSteps.java
  tests/e2e-tests/src/test/java/steps/WarehouseSteps.java
  tests/e2e-tests/src/test/java/utils/datageneration/CommonUtils.java
  tests/e2e-tests/src/test/java/utils/datageneration/namescreening/BatchGenerationService.java
  tests/e2e-tests/src/test/java/utils/datageneration/namescreening/ftcc/FtccAlertGenerationService.java
  tests/e2e-tests/src/test/java/utils/datageneration/paymentsbridge/PbAlertsGeneratingService.java
  tests/e2e-tests/src/test/resources/alertTemplates/foxtrot/learningAlertTemplate.json
  tests/e2e-tests/src/test/resources/alertTemplates/foxtrot/solvingAlertTemplate.json
  tests/e2e-tests/src/test/resources/alertTemplates/hotel/alertTemplate1.json
  tests/e2e-tests/src/test/resources/alertTemplates/hotel/alertTemplate2.json
  tests/e2e-tests/src/test/resources/alertTemplates/hotel/alertTemplate3.json
  tests/e2e-tests/src/test/resources/alertTemplates/sierra/pbAlertTemplate.json
  tests/e2e-tests/src/test/resources/s8api/pbAlertTemplate.json
Owners: @SilentEight/qa

fix(fab): remove `-exec` to run the jar file (#168)
  modules/universal-data-source/universal-data-source-dist/build.gradle
Owners: @SilentEight/delta

agent config loader implemented, config in separate dir in utils
  agent-base/Jenkinsfile
  agent-base/agent_base/agent/agent.py
  agent-base/agent_base/agent/agent_runner.py
  agent-base/agent_base/agent/agent_service.py
  agent-base/agent_base/agent_exchange/agent_data_source.py
  agent-base/agent_base/agent_exchange/agent_exchange.py
  agent-base/agent_base/agent_exchange/pika_connection.py
  agent-base/agent_base/example.py
  agent-base/agent_base/grpc_service/grpc_service.py
  agent-base/agent_base/utils/__init__.py
  agent-base/agent_base/utils/agent_config.py
  agent-base/agent_base/utils/config/__init__.py
  agent-base/agent_base/utils/config/agent_config.py
  agent-base/agent_base/utils/config/agent_config_loader.py
  agent-base/config/application.yaml
  agent-base/requirements.txt
  agent-base/tests/integration/mocks/adjudication_engine_mock.py
  agent-base/tests/integration/test_agent_exchange.py
  agent-base/tests/integration/test_grpc_service.py
  agent-base/tests/unit/conftest.py
  agent-base/tests/unit/test_agent.py
  agent-base/tests/unit/test_config.py
Owners: none

'utils' removed from Jenkinsfile
  agent-base/Jenkinsfile
Owners: none

Bump version: 0.5.31-dev → 0.5.32-dev
  etl-pipeline/setup.cfg
  etl-pipeline/setup.py
Owners: none

feat: fix swagger in gov, additional gov, sim, webapp api calls from swaggers are authorized (WEB-2352)
  .idea/runConfigurations/GovernanceApplication.xml
  .idea/runConfigurations/WebApplication.xml
  docker-compose/keycloak/imports/Dev-realm.json
  modules/audit-bs/src/main/java/com/silenteight/auditing/bs/AuditingConfiguration.java
  modules/audit-bs/src/main/java/com/silenteight/auditing/bs/amqp/AuditDataMessageGateway.java
  modules/audit-bs/src/main/java/com/silenteight/auditing/bs/amqp/AuditingMessagingConfiguration.java
  modules/audit-bs/src/test/java/com/silenteight/auditing/bs/AuditingBsRepositoryIT.java
  modules/governance/governance-app/build.gradle
  modules/governance/governance-app/src/main/resources/config/application-dev.yml
  modules/governance/governance-app/src/main/resources/config/application-swagger.yml
  modules/governance/governance-common-web-testing/build.gradle
  modules/governance/governance-common-web/build.gradle
  modules/governance/governance-common-web/src/main/java/com/silenteight/serp/governance/common/web/config/OpenApiConfiguration.java
  modules/governance/governance-model/src/main/java/com/silenteight/serp/governance/model/used/ModelUsedOnProductionConfiguration.java
  modules/governance/governance-model/src/main/java/com/silenteight/serp/governance/model/used/amqp/ModelUsedOnProductionMessageGateway.java
  modules/governance/governance-model/src/main/java/com/silenteight/serp/governance/model/used/amqp/ModelUsedOnProductionMessagingConfiguration.java
  modules/governance/governance-policy/src/main/java/com/silenteight/serp/governance/policy/solve/SolveConfiguration.java
  modules/governance/governance-policy/src/main/java/com/silenteight/serp/governance/policy/solve/amqp/FeatureVectorSolvedEventEmitterConfiguration.java
  modules/governance/governance-policy/src/main/java/com/silenteight/serp/governance/policy/solve/amqp/FeatureVectorSolvedMessageGateway.java
  modules/sep-auth/src/main/java/com/silenteight/sep/auth/authentication/RestConstants.java
  modules/simulator/simulator-app/build.gradle
  modules/simulator/simulator-common-web-testing/build.gradle
  modules/simulator/simulator-common-web/build.gradle
  modules/simulator/simulator-common-web/src/main/java/com/silenteight/simulator/common/web/config/OpenApiConfiguration.java
  modules/webapp/sens-webapp-backend/src/main/java/com/silenteight/sens/webapp/backend/config/OpenApiConfiguration.java
  modules/webapp/sens-webapp-backend/src/main/resources/config/application-dev.yml
  modules/webapp/sens-webapp-common/build.gradle
Owners: @ahaczewski, @pputerla, @snieguu, @SilentEight/architecture

refactor(ae): Moved queuing messages to publishers (#174)
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/CategoryResolveProcess.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/CommentInputResolveProcess.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/ProcessConfiguration.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/SolvingAlertReceivedProcess.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/port/CategoryResolveProcessPort.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/port/CommentInputResolveProcessPort.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/CategoryResolvePublisher.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/CommentInputResolvePublisher.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/GovernanceAlertPublisher.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/PublisherConfiguration.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/ReadyMatchFeatureVectorPublisher.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/port/CategoryResolvePublisherPort.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/port/CommentInputResolvePublisherPort.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/infrastructure/hazelcast/InMemoryStorageProviderConfiguration.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/CategoryResolveProcessPortMock.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/CommentInputResolveProcessMock.java
Owners: @SilentEight/delta

fix(governance): make agent name consistent (#172)
  modules/governance/nomad/conf/agents/agent_configs.json
Owners: none

build(wh): fix warehouse test application dependencies
  modules/warehouse/warehouse-test-app/build.gradle
Owners: @SilentEight/whiskey

feat(wh): differentiate name and nameMatchedText in RB Scorer report (AEP2-987) (#170)
  modules/warehouse/warehouse-app/src/main/resources/config/application-sierra.yml
Owners: @SilentEight/whiskey

feat(ae): category resolve process unit tests (AEP2-955) (#175)
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/SolvingAlertReceivedProcess.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/CategoryResolveProcessTest.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/CategoryValuesClientMock.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/InMemoryMatchFeatureDataAccess.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/resources/alerts/withFeatureAndCategoryValues.json
  modules/adjudication-engine/adjudication-engine-solving/src/test/resources/alerts/withOnlyOneCategoryValue.json
  modules/adjudication-engine/adjudication-engine-solving/src/test/resources/alerts/withoutFeatures.json
  modules/adjudication-engine/adjudication-engine-solving/src/test/resources/alerts/withoutValues.json
Owners: @SilentEight/delta

feat(ae): Add comment template for new version of name agent (AEP2-1003) (#153)
  modules/adjudication-engine/adjudication-engine-comments/src/main/resources/db/changelog/db.changelog-adjudication-engine-comments-1.23.0.xml
  modules/adjudication-engine/adjudication-engine-comments/src/main/resources/db/changelog/templates/match-rev-7.ftl
Owners: @SilentEight/delta

feat: remove basic-auth profile
  modules/governance/README.md
  modules/governance/governance-common-web/src/main/java/com/silenteight/serp/governance/common/web/config/BasicAuthOpenApiConfiguration.java
  modules/governance/governance-common-web/src/main/java/com/silenteight/serp/governance/common/web/config/HttpSecurityDenyConfiguration.java
  modules/sep-auth/Jenkinsfile
  modules/sep-auth/README.md
  modules/sep-auth/src/main/java/com/silenteight/sep/auth/authentication/basic/BasicAuthProperties.java
  modules/sep-auth/src/main/java/com/silenteight/sep/auth/authentication/basic/BasicAuthenticationConfiguration.java
  modules/sep-auth/src/main/java/com/silenteight/sep/auth/authentication/oauth2/server/resource/ResourceServerConfiguration.java
  modules/simulator/simulator-common-web/src/main/java/com/silenteight/simulator/common/web/config/BasicAuthOpenApiConfiguration.java
  modules/warehouse/warehouse-common/src/main/java/com/silenteight/warehouse/common/web/config/BasicAuthOpenApiConfiguration.java
  modules/warehouse/warehouse-common/src/main/java/com/silenteight/warehouse/common/web/config/OpenApiConfiguration.java
Owners: @SilentEight/whiskey

fix(build): clean e2e builds (#176)
  .jenkins/Jenkinsfile.release
Owners: @SilentEight/devops

feat(ae,solving): store comment input in DB (AEP2-999)
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/CommentInputResolveProcess.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/ProcessConfiguration.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/domain/comment/CommentInput.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/domain/comment/CommentInputJdbcRepository.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/domain/comment/CommentInputStoreService.java
Owners: @SilentEight/delta

feat(ae): Test storing comment input (AEP2-955) (#179)
  modules/adjudication-engine/adjudication-engine-comments/src/main/java/com/silenteight/adjudication/engine/comments/commentinput/CommentInputResponse.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/CommentInputResolveProcess.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/domain/comment/CommentInputClientRepository.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/CommentInputFixture.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/CommentInputResolveProcessTest.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/MockCommentInputClient.java
Owners: @SilentEight/delta

fix(ae): Fixed dependency to category test (#181)
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/CommentInputResolveProcess.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/ProcessConfiguration.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/data/CommentInputDataAccess.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/data/jdbc/CommentInputJdbcRepository.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/data/jdbc/JdbcAccessConfiguration.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/data/jdbc/JdbcCommentInputStoreDataAccess.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/domain/comment/CommentInputClientRepository.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/CommentInputResolveProcessTest.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/MockCommentInputDataAccess.java
Owners: @SilentEight/delta

fix(ci): reverting the whack because it's adding too many steps (#184)
  .jenkins/Jenkinsfile.release
Owners: @SilentEight/devops

use agent_config in agent data source connection and Pika Connection
  agent-base/README.md
  agent-base/agent_base/agent_exchange/agent_data_source.py
  agent-base/agent_base/agent_exchange/agent_exchange.py
  agent-base/agent_base/agent_exchange/pika_connection.py
  agent-base/agent_base/grpc_service/grpc_service.py
  agent-base/agent_base/utils/config/__init__.py
  agent-base/agent_base/utils/config/agent_config.py
Owners: none

reload agent_config when reload config
  agent-base/agent_base/utils/config/__init__.py
  agent-base/tests/unit/test_config.py
Owners: none

tests to check config from env var superior to .yaml
  agent-base/agent_base/utils/config/__init__.py
  agent-base/agent_base/utils/config/agent_config.py
  agent-base/agent_base/utils/config/agent_config_loader.py
  agent-base/config/application.yaml
  agent-base/tests/integration/test_grpc_service.py
  agent-base/tests/resources/config/application.yaml
  agent-base/tests/resources/ssl_example/README.md
  agent-base/tests/resources/ssl_example/ca-config.json
  agent-base/tests/resources/ssl_example/ca-csr.json
  agent-base/tests/resources/ssl_example/ca-key.pem
  agent-base/tests/resources/ssl_example/ca.csr
  agent-base/tests/resources/ssl_example/ca.pem
  agent-base/tests/resources/ssl_example/client-csr.json
  agent-base/tests/resources/ssl_example/client-key.pem
  agent-base/tests/resources/ssl_example/client.csr
  agent-base/tests/resources/ssl_example/client.pem
  agent-base/tests/resources/ssl_example/server-csr.json
  agent-base/tests/resources/ssl_example/server-key.pem
  agent-base/tests/resources/ssl_example/server.csr
  agent-base/tests/resources/ssl_example/server.pem
  agent-base/tests/unit/test_config.py
Owners: none

build: align group and version Gradle properties (#186)
  gradle.properties
  modules/adjudication-api/gradle.properties
  modules/adjudication-engine-connector/gradle.properties
  modules/adjudication-engine/gradle.properties
  modules/audit-bs-api/gradle.properties
  modules/audit-bs/gradle.properties
  modules/core-bridge-recommendation-connector/gradle.properties
  modules/core-bridge-registration-connector/gradle.properties
  modules/core-bridge/gradle.properties
  modules/data-retention-api/gradle.properties
  modules/data-source-api/gradle.properties
  modules/governance-api/gradle.properties
  modules/governance-connector/gradle.properties
  modules/governance/gradle.properties
  modules/hsbc-bridge/gradle.properties
  modules/payments-bridge/gradle.properties
  modules/protobuf-spring-boot-starter/gradle.properties
  modules/rabbitmq-common-schema/gradle.properties
  modules/sep-auth/gradle.properties
  modules/sep-base/gradle.properties
  modules/sep-file-storage-minio/gradle.properties
  modules/sep-filestorage-api/gradle.properties
  modules/sep-usermanagement-api/gradle.properties
  modules/sep-usermanagement-keycloak/gradle.properties
  modules/simulator/gradle.properties
  modules/universal-data-source/gradle.properties
  modules/warehouse-api/gradle.properties
  modules/warehouse/gradle.properties
  modules/webapp/gradle.properties
Owners: @SilentEight/architecture, @SilentEight/delta, @SilentEight/whiskey

feat(in-memory-solving): Add guava embedded solution (AEP2-1012) (#178)
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/ProcessConfiguration.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/infrastructure/guava/GuavaAlertSolvingRepository.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/infrastructure/guava/GuavaConfigurationProperties.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/infrastructure/guava/GuavaMatchFeaturesRepository.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/infrastructure/guava/GuavaStorageProviderConfiguration.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/infrastructure/hazelcast/HazelcastAlertSolvingRepository.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/infrastructure/hazelcast/HazelcastAlertStorageEventListener.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/infrastructure/hazelcast/HazelcastConfigurationProperties.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/infrastructure/hazelcast/HazelcastMatchFeaturesRepository.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/infrastructure/hazelcast/HazelcastStorageProviderConfiguration.java
Owners: @SilentEight/delta

fix: check Dev realm in readinessProbe
  charts/sear/values.yaml
Owners: none

CODEOWNERS:

/gradle/wrapper/* @ahaczewski
/gradlew          @ahaczewski
/gradlew.bat      @ahaczewski

/.jenkins/*   @SilentEight/devops
/.github/*    @SilentEight/architecture

/.github/workflows/*      @ahaczewski

/.idea/**/*               @ahaczewski @pputerla @snieguu
/.editorconfig            @ahaczewski @pputerla @snieguu
/.gitattributes           @ahaczewski @pputerla @snieguu
/.gitignore               @ahaczewski @pputerla @snieguu
/.pre-commit-config.yaml  @ahaczewski @pputerla @snieguu
/CODEOWNERS               @ahaczewski

/build-logic/**/* @SilentEight/architecture
/platforms/**/*   @SilentEight/architecture
/gradle/*.toml    @SilentEight/architecture
build.gradle      @SilentEight/architecture
gradle.properties @SilentEight/architecture
settings.gradle   @SilentEight/architecture

/tests/**/*       @SilentEight/qa

/modules/adjudication-engine/**/*    @SilentEight/delta
/modules/payments-bridge/**/*        @SilentEight/delta
/modules/universal-data-source/**/*  @SilentEight/delta
/modules/warehouse/**/*              @SilentEight/whiskey
