Repository ngraczykowski/iris-root, changes with the owners that CODEOWNERS names for each.
All owners: @SilentEight/delta, @SilentEight/whiskey, @SilentEight/all-in, @SilentEight/agents, @SilentEight/python, @ahaczewski, @SilentEight/devops, @SilentEight/architecture, @pputerla, @snieguu, @SilentEight/qa

refactor(tm): Renamed modules in transaction monitoring (TM-8) (#544)
  modules-tm/transaction-monitoring/build.gradle
  modules-tm/transaction-monitoring/settings.gradle
  settings.gradle
  transaction-monitoring/Xlint.properties
  transaction-monitoring/build.gradle
  transaction-monitoring/settings.gradle
  transaction-monitoring/tm-app/build.gradle
  transaction-monitoring/tm-app/src/main/java/com/silenteight/sear/HelloWorldController.java
  transaction-monitoring/tm-app/src/main/java/com/silenteight/sear/TransactionMonitoringApplication.java
  transaction-monitoring/tm-app/src/test/java/com/silenteight/sear/HelloWorldControllerTest.java
Owners: @SilentEight/architecture

fix(e2e): Longer wait time and JS click for CI/CD fix (#555)
  tests/e2e-tests/src/test/java/utils/CommonUtils.java
Owners: @SilentEight/qa

build(tm): Allow TM app to start when the root docker-compose is running (TM-19) (#554)
  modules-tm/transaction-monitoring/transaction-monitoring-app/src/main/resources/application.yml
  transaction-monitoring/tm-app/src/main/java/com/silenteight/sear/HelloWorldController.java
  transaction-monitoring/tm-app/src/main/java/com/silenteight/sear/TransactionMonitoringApplication.java
Owners: none

refactor(pb): update alert delivery statuses (AEP2-1004) (#313)
  modules/payments-bridge/sear-payments-bridge-app/src/main/java/com/silenteight/payments/bridge/app/amqp/RabbitCustomizer.java
  modules/payments-bridge/sear-payments-bridge-app/src/main/java/com/silenteight/payments/bridge/app/integration/callback/AlertDeliveredIntegrationService.java
  modules/payments-bridge/sear-payments-bridge-app/src/test/java/com/silenteight/payments/bridge/app/integration/PaymentsBridgeApplicationIT.java
  modules/payments-bridge/sear-payments-bridge-app/src/test/java/com/silenteight/payments/bridge/app/integration/PaymentsBridgeEventsListener.java
  modules/payments-bridge/sear-payments-bridge-firco/src/main/java/com/silenteight/payments/bridge/firco/alertmessage/port/AlertMessageStatusUseCase.java
  modules/payments-bridge/sear-payments-bridge-firco/src/main/java/com/silenteight/payments/bridge/firco/alertmessage/service/AlertMessageConfiguration.java
  modules/payments-bridge/sear-payments-bridge-firco/src/main/java/com/silenteight/payments/bridge/firco/alertmessage/service/AlertMessageConfigurationProvider.java
  modules/payments-bridge/sear-payments-bridge-firco/src/main/java/com/silenteight/payments/bridge/firco/alertmessage/service/AlertMessageProperties.java
  modules/payments-bridge/sear-payments-bridge-firco/src/main/java/com/silenteight/payments/bridge/firco/alertmessage/service/AlertMessageStatusEntity.java
  modules/payments-bridge/sear-payments-bridge-firco/src/main/java/com/silenteight/payments/bridge/firco/alertmessage/service/AlertMessageStatusService.java
  modules/payments-bridge/sear-payments-bridge-firco/src/main/java/com/silenteight/payments/bridge/firco/alertmessage/service/FilterAlertMessageService.java
  modules/payments-bridge/sear-payments-bridge-firco/src/main/java/com/silenteight/payments/bridge/firco/callback/port/AlertUndeliveredPort.java
  modules/payments-bridge/sear-payments-bridge-firco/src/main/java/com/silenteight/payments/bridge/firco/callback/service/SendResponseService.java
  modules/payments-bridge/sear-payments-bridge-firco/src/main/java/com/silenteight/payments/bridge/firco/recommendation/service/CreateRecommendationService.java
Owners: @SilentEight/delta

ci(release): generate JUnit reports in addition to Cucumber reports
  .jenkins/Jenkinsfile.release
Owners: @SilentEight/devops

feat(simulator): Checking if analysis has finished using Scheduler (AEP2-1038) (#492)
  modules/backend/simulator-processing/src/main/java/com/silenteight/simulator/processing/alert/index/ack/AckMessageConfiguration.java
  modules/backend/simulator-processing/src/main/java/com/silenteight/simulator/processing/alert/index/ack/FetchAckMessageUseCase.java
  modules/backend/simulator-processing/src/main/java/com/silenteight/simulator/processing/alert/index/domain/State.java
  modules/backend/simulator-processing/src/main/java/com/silenteight/simulator/processing/simulation/SimulationFinishChecker.java
  modules/backend/simulator-processing/src/main/java/com/silenteight/simulator/processing/simulation/SimulationFinishScheduler.java
  modules/backend/simulator-processing/src/main/java/com/silenteight/simulator/processing/simulation/SimulationRunningConfiguration.java
  modules/backend/simulator-processing/src/main/java/com/silenteight/simulator/processing/simulation/SimulationRunningQuery.java
  modules/backend/simulator-processing/src/main/java/com/silenteight/simulator/processing/simulation/SimulationRunningQueryJdbc.java
  modules/backend/simulator-processing/src/test/java/com/silenteight/simulator/processing/alert/index/ack/FetchAckMessageUseCaseTest.java
  modules/backend/simulator-processing/src/test/java/com/silenteight/simulator/processing/alert/index/domain/StateTest.java
  modules/backend/simulator-processing/src/test/java/com/silenteight/simulator/processing/simulation/AckMessageFixtures.java
  modules/backend/simulator-processing/src/test/java/com/silenteight/simulator/processing/simulation/SimulationFinishCheckerTest.java
  modules/backend/simulator-processing/src/test/java/com/silenteight/simulator/processing/simulation/SimulationProcessingIT.java
  modules/backend/simulator-processing/src/test/java/com/silenteight/simulator/processing/simulation/SimulationRunningQueryJdbcTest.java
  modules/backend/simulator-processing/src/test/resources/application-jdbc-test.yml
  modules/backend/simulator-processing/src/test/resources/com/silenteight/simulator/processing/simulation/SimulationProcessingIT.sql
  modules/simulator/simulator-app/src/main/resources/config/application.yml
Owners: none

fix(core-bridge): NPE while creating reports (S8DEV-533) (#549)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/reports/adapter/outgoing/amqp/ReportsSenderServiceAdapter.java
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/reports/ReportFixtures.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/reports/adapter/outgoing/amqp/ReportsSenderServiceAdapterSpec.groovy
Owners: @SilentEight/all-in

CODEOWNERS:

####################################################################################################
# NOTE(ahaczewski): Add code owners for modules below.
####################################################################################################

#----------------------------------------------------------
# Delta team
#----------------------------------------------------------
/modules/adjudication-engine/**/*     @SilentEight/delta
/modules/payments-bridge/**/*         @SilentEight/delta
/modules/universal-data-source/**/*   @SilentEight/delta

#----------------------------------------------------------
# Whiskey team
#----------------------------------------------------------
/modules/warehouse/**/*   @SilentEight/whiskey

#----------------------------------------------------------
# All-In team
#----------------------------------------------------------
/modules/core-bridge/**/*                           @SilentEight/all-in
/modules/core-bridge-recommendation-connector/**/*  @SilentEight/all-in
/modules/core-bridge-registration-connector/**/*    @SilentEight/all-in
/modules/hsbc-bridge/**/*                           @SilentEight/all-in
/modules/ms-bridge/**/*                             @SilentEight/all-in
/modules/protobuf-spring-boot-starter/**/*          @SilentEight/all-in

#----------------------------------------------------------
# Java Agents team
#----------------------------------------------------------
/modules/agents-java/**/*    @SilentEight/agents

#----------------------------------------------------------
# Python modules
#----------------------------------------------------------
/modules/agent-base/**/*                            @SilentEight/python
/modules/bank-identification-codes-agent/**/*       @SilentEight/python
/modules/company-name-surrounding-agent/**/*        @SilentEight/python
/modules/etl-pipeline/**/*                          @SilentEight/python
/modules/hit-type-agent/**/*                        @SilentEight/python
/modules/knowledge-measure-businness/**/*           @SilentEight/python
/modules/organization-name-agent/**/*               @SilentEight/python
/modules/organization-name-knowledge/**/*           @SilentEight/python
/modules/s8-python-network/**/*                     @SilentEight/python

####################################################################################################
# NOTE(ahaczewski): Add code owners for modules above. Do not modify owners below.
####################################################################################################

/gradle/wrapper/* @ahaczewski
/gradlew          @ahaczewski
/gradlew.bat      @ahaczewski

/.jenkins/*           @SilentEight/devops
/.github/*            @SilentEight/architecture
/.github/workflows/*  @ahaczewski

/.idea/**/*               @ahaczewski @pputerla @snieguu
/.pre-commit-config.yaml  @ahaczewski @pputerla @snieguu
/CODEOWNERS               @ahaczewski
.editorconfig             @ahaczewski @pputerla @snieguu
.gitattributes            @ahaczewski @pputerla @snieguu
.gitignore                @ahaczewski @pputerla @snieguu

/build-logic/**/*   @SilentEight/architecture
/platforms/**/*     @SilentEight/architecture
/gradle/*.toml      @SilentEight/architecture
build.gradle        @SilentEight/architecture
gradle.properties   @SilentEight/architecture
settings.gradle     @SilentEight/architecture

/tests/**/*       @SilentEight/qa
