Repository ngraczykowski/iris-root, changes with the owners that CODEOWNERS names for each.
All owners: @ahaczewski, @SilentEight/devops, @SilentEight/architecture, @kkicza

Bump version: 0.0.3 → 0.0.4
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/setup.py
Owners: none

installing bump2version in Release step added
  s8-python-network/s8-python-network/Jenkinsfile
Owners: none

Bump version: 0.0.4 → 0.0.5
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/setup.py
Owners: none

Bump version: 0.0.5 → 0.1.0
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/setup.py
Owners: none

Bump version: 0.1.0 → 0.1.1
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/setup.py
Owners: none

Update Jenkinsfile
  .jenkins/Jenkinsfile
Owners: @SilentEight/devops

INTERNAL: Gradle config ALL-524
  modules/protobuf-spring-boot-starter/build.gradle
  modules/protobuf-spring-boot-starter/build/classes/java/main/com/silenteight/autoconfigure/protobuf/AmqpProtoMessageConverter$AmqpProtoMessageConverterBuilder.class
  modules/protobuf-spring-boot-starter/gradle.properties
Owners: @SilentEight/architecture

ALL-524 Initial commit
  modules/protobuf-spring-boot-starter/.gitignore
  modules/protobuf-spring-boot-starter/Jenkinsfile
  modules/protobuf-spring-boot-starter/build.gradle
  modules/protobuf-spring-boot-starter/gradle/wrapper/gradle-wrapper.jar
  modules/protobuf-spring-boot-starter/gradle/wrapper/gradle-wrapper.properties
  modules/protobuf-spring-boot-starter/gradlew
  modules/protobuf-spring-boot-starter/gradlew.bat
  modules/protobuf-spring-boot-starter/merge.properties
  modules/protobuf-spring-boot-starter/settings.gradle
  modules/protobuf-spring-boot-starter/src/main/java/com/silenteight/autoconfigure/protobuf/AmqpMessagingConfiguration.java
  modules/protobuf-spring-boot-starter/src/main/java/com/silenteight/autoconfigure/protobuf/AmqpProtoMessageConverter.java
  modules/protobuf-spring-boot-starter/src/main/java/com/silenteight/autoconfigure/protobuf/AnyProtoMessageConverter.java
  modules/protobuf-spring-boot-starter/src/main/java/com/silenteight/autoconfigure/protobuf/AnyUtils.java
  modules/protobuf-spring-boot-starter/src/main/java/com/silenteight/autoconfigure/protobuf/MessageRegistry.java
  modules/protobuf-spring-boot-starter/src/main/java/com/silenteight/autoconfigure/protobuf/MessageRegistryFactory.java
  modules/protobuf-spring-boot-starter/src/main/java/com/silenteight/autoconfigure/protobuf/ReflectionUtils.java
  modules/protobuf-spring-boot-starter/src/main/resources/META-INF/spring.factories
Owners: @SilentEight/architecture

Snapshot 1.1.0-SNAPSHOT
  modules/protobuf-spring-boot-starter/gradle.properties
Owners: @SilentEight/architecture

ALL-524 Build number disabled
  modules/protobuf-spring-boot-starter/Jenkinsfile
Owners: none

Snapshot 1.3.0-SNAPSHOT
  modules/protobuf-spring-boot-starter/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Make amqp converter public (ALL-732)
  modules/protobuf-spring-boot-starter/src/main/java/com/silenteight/autoconfigure/protobuf/AmqpProtoMessageConverter.java
Owners: none

ALL-524 complile to implementation
  modules/protobuf-spring-boot-starter/Jenkinsfile
  modules/protobuf-spring-boot-starter/build.gradle
Owners: @SilentEight/architecture

Snapshot 1.4.0-SNAPSHOT
  modules/protobuf-spring-boot-starter/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Sonar disabled (ALL-524)
  modules/protobuf-spring-boot-starter/Jenkinsfile
Owners: none

Update configuration of MS components (ALL-531)
  modules/protobuf-spring-boot-starter/README.md
  modules/protobuf-spring-boot-starter/build.gradle
  modules/protobuf-spring-boot-starter/gradle/wrapper/gradle-wrapper.properties
Owners: @SilentEight/architecture

INTERNAL: Sonar config (ALL-524)
  modules/protobuf-spring-boot-starter/build.gradle
Owners: @SilentEight/architecture

Snapshot 1.2.0-SNAPSHOT
  modules/protobuf-spring-boot-starter/gradle.properties
Owners: @SilentEight/architecture

Renamed the artifact (ALL-602)
  modules/protobuf-spring-boot-starter/settings.gradle
Owners: @SilentEight/architecture

add README
  modules/protobuf-spring-boot-starter/README.md
Owners: none

Snapshot 1.5.0-SNAPSHOT
  modules/protobuf-spring-boot-starter/gradle.properties
Owners: @SilentEight/architecture

ALL-524 Condiguration conditions
  modules/protobuf-spring-boot-starter/src/main/java/com/silenteight/autoconfigure/protobuf/AmqpMessagingConfiguration.java
  modules/protobuf-spring-boot-starter/src/main/java/com/silenteight/autoconfigure/protobuf/ProtobufRabbitListenerConfigurer.java
Owners: none

feat: add porotobuf-spring-boot-starter (used by core bridge)
  gradle/libs.versions.toml
  modules/protobuf-spring-boot-starter/.gitignore
  modules/protobuf-spring-boot-starter/Jenkinsfile
  modules/protobuf-spring-boot-starter/build.gradle
  modules/protobuf-spring-boot-starter/gradle.properties
  modules/protobuf-spring-boot-starter/gradle/wrapper/gradle-wrapper.jar
  modules/protobuf-spring-boot-starter/gradle/wrapper/gradle-wrapper.properties
  modules/protobuf-spring-boot-starter/gradlew
  modules/protobuf-spring-boot-starter/gradlew.bat
  modules/protobuf-spring-boot-starter/merge.properties
  modules/protobuf-spring-boot-starter/settings.gradle
  modules/settings.gradle
Owners: @SilentEight/architecture

Snapshot 1.9.0-SNAPSHOT
  modules/protobuf-spring-boot-starter/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: maven publish plugin (ALL-524)
  modules/protobuf-spring-boot-starter/build.gradle
Owners: @SilentEight/architecture

Snapshot 1.6.0-SNAPSHOT
  modules/protobuf-spring-boot-starter/gradle.properties
Owners: @SilentEight/architecture

Snapshot 1.7.0-SNAPSHOT
  modules/protobuf-spring-boot-starter/gradle.properties
Owners: @SilentEight/architecture

Snapshot 1.8.0-SNAPSHOT
  modules/protobuf-spring-boot-starter/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Release config (ALL-523)
  modules/protobuf-spring-boot-starter/Jenkinsfile
  modules/protobuf-spring-boot-starter/build.gradle
  modules/protobuf-spring-boot-starter/build/classes/java/main/com/silenteight/autoconfigure/protobuf/AmqpProtoMessageConverter$AmqpProtoMessageConverterBuilder.class
  modules/protobuf-spring-boot-starter/src/main/java/com/silenteight/autoconfigure/protobuf/MessageRegistry.java
Owners: @SilentEight/architecture

Update convention plugin
  modules/protobuf-spring-boot-starter/build.gradle
Owners: @SilentEight/architecture

INTERNAL: Readme file added (ALL-524)
  modules/protobuf-spring-boot-starter/README.md
  modules/protobuf-spring-boot-starter/src/main/java/com/silenteight/autoconfigure/protobuf/MessageRegistry.java
Owners: none

Revert: Renamed the artifact (ALL-602)
  modules/protobuf-spring-boot-starter/settings.gradle
Owners: @SilentEight/architecture

Update Jenkinsfile
  .jenkins/Jenkinsfile
Owners: @SilentEight/devops

Update Jenkinsfile
  .jenkins/Jenkinsfile
Owners: @SilentEight/devops

fix(sierra): sending callback to pb (#63)
  kubernetes/values.sierra.yaml
Owners: none

separate bash script for tag and bump for master
  s8-python-network/s8-python-network/Jenkinsfile
  s8-python-network/s8-python-network/scripts/release.sh
  s8-python-network/s8-python-network/scripts/tag_and_bump_version.sh
Owners: none

CODEOWNERS:

/gradle/wrapper/* @ahaczewski
/gradlew          @ahaczewski
/gradlew.bat      @ahaczewski

/.jenkins/*   @SilentEight/devops
/.github/*    @SilentEight/architecture

/.github/workflows/*      @ahaczewski

/.idea/**/*               @ahaczewski
/.editorconfig            @ahaczewski
/.gitattributes           @ahaczewski
/.gitignore               @ahaczewski
/.pre-commit-config.yaml  @ahaczewski
/CODEOWNERS               @ahaczewski

/build-logic/**/* @SilentEight/architecture
/platforms/**/*   @SilentEight/architecture
/gradle/*.toml    @SilentEight/architecture
build.gradle      @SilentEight/architecture
gradle.properties @SilentEight/architecture
settings.gradle   @SilentEight/architecture

/tests/**/*       @kkicza
