Repository ngraczykowski/iris-root, changes with the owners that CODEOWNERS names for each.
All owners: @ahaczewski, @SilentEight/devops, @SilentEight/architecture, @kkicza

INTERNAL: Static Minio address (DOS-785)
  modules/core-bridge/nomad/deploy.sh
Owners: none

ENHANCEMENT: Publish BatchError event (ALL-546)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/incoming/RegistrationGrpcService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/AnalysisServiceAdapter.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/DefaultModelServiceAdapter.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/RabbitEventPublisher.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/BatchService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/model/Batch.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/model/BatchError.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/port/outgoing/DefaultModel.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/port/outgoing/EventPublisher.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/infrastructure/amqp/RegistrationRabbitConfiguration.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/infrastructure/amqp/RegistrationRabbitProperties.java
  modules/core-bridge/bridge-app/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  modules/core-bridge/bridge-app/src/main/resources/application.yaml
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/BaseSpecificationIT.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/outgoing/RabbitEventPublisherSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/BatchServiceSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/RegistrationFacadeSpec.groovy
  modules/core-bridge/build.gradle
  modules/core-bridge/gradle/scripts/dependencies.gradle
  modules/core-bridge/settings.gradle
Owners: @SilentEight/architecture

INTERNAL: fetch batch entity by analysis name (ALL-586)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/BatchIdProjection.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/CrudBatchRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/JdbcBatchRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/BatchService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/RegistrationFacade.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/command/CompleteBatchCommand.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/port/outgoing/BatchRepository.java
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/BatchServiceSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/RegistrationFacadeSpec.groovy
Owners: none

INTERNAL: Verify event publication - notify batch error (ALL-561)
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/RecommendationFlowIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/NotifyBatchErrorFlowRabbitMqTestConfig.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/RegistrationGrpcServiceIntegrationSpec.groovy
Owners: none

INTERNAL: Notify batch error (ALL-537)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/incoming/RegistrationGrpcService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/CrudBatchRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/JdbcBatchRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/Batch.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/RegistrationService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/port/outgoing/BatchRepository.java
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/BaseSpecificationIT.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/BatchRepositoryIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/RegistrationGrpcServiceIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/RegistrationServiceSpec.groovy
Owners: none

INTERNAL: Create base project configuration (ALL-368)
  modules/core-bridge/.gitignore
  modules/core-bridge/Jenkinsfile
  modules/core-bridge/Jenkinsfile-mergerequest
  modules/core-bridge/README.md
  modules/core-bridge/bridge-app/build.gradle
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/CoreBridgeApplication.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/incoming/.gitkeep
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/.gitkeep
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/.gitkeep
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/infrastructure/.gitkeep
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/incoming/.gitkeep
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/.gitkeep
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/.gitkeep
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/infrastructure/util/KnownServices.java
  modules/core-bridge/bridge-app/src/main/resources/application-consuldisabled.yaml
  modules/core-bridge/bridge-app/src/main/resources/application-dev.yaml
  modules/core-bridge/bridge-app/src/main/resources/application.yaml
  modules/core-bridge/build.gradle
  modules/core-bridge/docker-compose.yml
  modules/core-bridge/gradle.properties
  modules/core-bridge/gradle/scripts/dependencies.gradle
  modules/core-bridge/gradle/wrapper/gradle-wrapper.jar
  modules/core-bridge/gradle/wrapper/gradle-wrapper.properties
  modules/core-bridge/gradlew
  modules/core-bridge/gradlew.bat
  modules/core-bridge/merge.properties
  modules/core-bridge/settings.gradle
Owners: @SilentEight/architecture

Snapshot 0.17.0-SNAPSHOT
  modules/core-bridge/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: E2E test stage should be run only on mike namespace (ALL-625)
  modules/core-bridge/Jenkinsfile
Owners: none

INTERNAL: Add batch stats in BatchCompleted and BatchError message (ALL-576)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/CrudRecommendationRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/JdbcRecommendationRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/adapter/outgoing/RecommendedActionStatisticsProjection.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/RecommendationFacade.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/RecommendationsStatisticsService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/model/RecommendationsStatistics.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/model/RecommendedActionStatistics.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/port/outgoing/RecommendationRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/AlertStatusStatisticsProjection.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/BatchIdProjection.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/CrudAlertRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/CrudBatchRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/CrudMatchRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/JdbcAlertMapper.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/JdbcAlertRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/JdbcBatchRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/JdbcMatchRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/RabbitEventMapper.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/RabbitEventPublisher.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/BatchService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/BatchStatisticsService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/RegistrationFacade.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/model/AlertStatusStatistics.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/model/BatchCompleted.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/model/BatchError.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/model/BatchStatistics.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/port/outgoing/AlertRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/port/outgoing/BatchRepository.java
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/domain/RecommendationFacadeSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/recommendation/domain/RecommendationsStatisticsServiceSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/RecommendationReceivedFlowIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/outgoing/JdbcAlertMapperSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/outgoing/RabbitEventMapperSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/outgoing/RabbitEventPublisherSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/BatchServiceSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/BatchStatisticsServiceSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/RegistrationFacadeSpec.groovy
Owners: none

INTERNAL: Update alerts to PROCESSING if they're not already RECOMMENDED (ALL-754)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/jdbc/CrudAlertRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/jdbc/JdbcAlertRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/UdsFedAlertsService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/port/outgoing/AlertRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/strategy/UdsFedAlertsProcessorSolvingStrategy.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/infrastructure/grpc/RecommendationCreatorMock.java
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/MatchFeatureInputFedReceivedFlowIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/UdsFedFixtures.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/UdsFedAlertsServiceSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/port/outgoing/AlertRepositoryIntegrationSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/strategy/UdsFedAlertsProcessorSolvingStrategySpec.groovy
Owners: none

Snapshot 0.7.0-SNAPSHOT
  modules/core-bridge/gradle.properties
Owners: @SilentEight/architecture

chore(chart): remove bitnami common chart dependency (#64)
  charts/sear/Chart.yaml
  kubernetes/README.md
Owners: none

atomic push tag when bump patch on master
  s8-python-network/s8-python-network/Jenkinsfile
Owners: none

tag delete before bump
  s8-python-network/s8-python-network/Jenkinsfile
Owners: none

use sshagent in Jenkinsfile, not bumping patch when RELEASE
  s8-python-network/s8-python-network/Jenkinsfile
  s8-python-network/s8-python-network/scripts/release.sh
Owners: none

Bump version: 0.0.1 → 0.0.2
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/setup.py
Owners: none

Bump version: 0.0.2 → 0.0.3
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/setup.py
Owners: none

Revert "Bump version: 0.0.2 → 0.0.3"
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/setup.py
Owners: none

Revert "Bump version: 0.0.1 → 0.0.2"
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/setup.py
Owners: none

Bump version: 0.0.1 → 0.0.2
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/setup.py
Owners: none

resetting release commit
  s8-python-network/s8-python-network/Jenkinsfile
  s8-python-network/s8-python-network/scripts/release.sh
Owners: none

ci: Update Jenkinsfile.release (#69)
  .jenkins/Jenkinsfile.release
Owners: @SilentEight/devops

not bump patch when commit == Bump version
  s8-python-network/s8-python-network/Jenkinsfile
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/setup.py
Owners: none

fix script in Jenkinsfile
  s8-python-network/s8-python-network/Jenkinsfile
Owners: none

Bump version: 0.0.1 → 0.0.2
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/setup.py
Owners: none

tag before bumpversion -> bump for commit only
  s8-python-network/s8-python-network/Jenkinsfile
  s8-python-network/s8-python-network/scripts/release.sh
Owners: none

fix echo env
  s8-python-network/s8-python-network/Jenkinsfile
Owners: none

ci: use github api token for git commands (#67)
  .jenkins/Jenkinsfile
Owners: @SilentEight/devops

fix - gitlab repo access
  s8-python-network/s8-python-network/Jenkinsfile
Owners: none

echo fix
  s8-python-network/s8-python-network/Jenkinsfile
Owners: none

Bump version: 0.0.2 → 0.0.3
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/setup.py
Owners: none

Update Jenkinsfile
  .jenkins/Jenkinsfile
Owners: @SilentEight/devops

echo fix 2
  s8-python-network/s8-python-network/Jenkinsfile
Owners: none

Bump version: 0.0.3 → 0.0.4
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/setup.py
Owners: none

Update Jenkinsfile
  .jenkins/Jenkinsfile
Owners: @SilentEight/devops

echo fix 2
  s8-python-network/s8-python-network/Jenkinsfile
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/setup.py
Owners: none

Update Jenkinsfile
  .jenkins/Jenkinsfile
Owners: @SilentEight/devops

Tagging on master
  s8-python-network/s8-python-network/Jenkinsfile
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/setup.py
Owners: none

Bump version: 0.0.2 → 0.0.3
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/setup.py
Owners: none

git tag delete added before tagging new version
  s8-python-network/s8-python-network/Jenkinsfile
Owners: none

CODEOWNERS:

/gradle/wrapper/* @ahaczewski
/gradlew          @ahaczewski
/gradlew.bat      @ahaczewski

/.jenkins/*   @SilentEight/devops
/.github/*    @SilentEight/architecture

/.github/workflows/*      @ahaczewski

/.idea/**/*               @ahaczewski
/.editorconfig            @ahaczewski
/.gitattributes           @ahaczewski
/.gitignore               @ahaczewski
/.pre-commit-config.yaml  @ahaczewski
/CODEOWNERS               @ahaczewski

/build-logic/**/* @SilentEight/architecture
/platforms/**/*   @SilentEight/architecture
/gradle/*.toml    @SilentEight/architecture
build.gradle      @SilentEight/architecture
gradle.properties @SilentEight/architecture
settings.gradle   @SilentEight/architecture

/tests/**/*       @kkicza
