Repository ngraczykowski/iris-root, changes with the owners that CODEOWNERS names for each.
All owners: @SilentEight/delta, @SilentEight/whiskey, @SilentEight/all-in, @SilentEight/agents, @ahaczewski, @SilentEight/devops, @SilentEight/architecture, @pputerla, @snieguu, @SilentEight/qa

CODEOWNERS:

####################################################################################################
# NOTE(ahaczewski): Add code owners for modules below.
####################################################################################################

#----------------------------------------------------------
# Delta team
#----------------------------------------------------------
/modules/adjudication-engine/**/*     @SilentEight/delta
/modules/payments-bridge/**/*         @SilentEight/delta
/modules/universal-data-source/**/*   @SilentEight/delta

#----------------------------------------------------------
# Whiskey team
#----------------------------------------------------------
/modules/warehouse/**/*   @SilentEight/whiskey

#----------------------------------------------------------
# All-In team
#----------------------------------------------------------
/modules/core-bridge/**/*                           @SilentEight/all-in
/modules/core-bridge-recommendation-connector/**/*  @SilentEight/all-in
/modules/core-bridge-registration-connector/**/*    @SilentEight/all-in
/modules/hsbc-bridge/**/*                           @SilentEight/all-in
/modules/ms-bridge/**/*                             @SilentEight/all-in
/modules/protobuf-spring-boot-starter/**/*          @SilentEight/all-in

#----------------------------------------------------------
# Agents team
#----------------------------------------------------------
/modules/agents/**/*    @SilentEight/agents

####################################################################################################
# NOTE(ahaczewski): Add code owners for modules above. Do not modify owners below.
####################################################################################################

/gradle/wrapper/* @ahaczewski
/gradlew          @ahaczewski
/gradlew.bat      @ahaczewski

/.jenkins/*           @SilentEight/devops
/.github/*            @SilentEight/architecture
/.github/workflows/*  @ahaczewski

/.idea/**/*               @ahaczewski @pputerla @snieguu
/.pre-commit-config.yaml  @ahaczewski @pputerla @snieguu
/CODEOWNERS               @ahaczewski
.editorconfig             @ahaczewski @pputerla @snieguu
.gitattributes            @ahaczewski @pputerla @snieguu
.gitignore                @ahaczewski @pputerla @snieguu

/build-logic/**/*   @SilentEight/architecture
/platforms/**/*     @SilentEight/architecture
/gradle/*.toml      @SilentEight/architecture
build.gradle        @SilentEight/architecture
gradle.properties   @SilentEight/architecture
settings.gradle     @SilentEight/architecture

/tests/**/*       @SilentEight/qa

INTERNAL: Sentry dependencies versions in dependencies-common
  modules/agent-commons/agent-dependencies-common/build.gradle
Owners: @SilentEight/architecture

INTERNAL: Create a logging lib in agent-commons (SEALS-694)
  modules/agent-commons/agent-logging/build.gradle
  modules/agent-commons/agent-logging/src/main/java/com/silenteight/agents/logging/AgentLogger.java
  modules/agent-commons/settings.gradle
Owners: @SilentEight/architecture

test PR for sonarqube
  modules/agent-commons/Jenkinsfile
Owners: none

INTERNAL: Monitoring via Sentry documentation
  modules/agent-commons/agent-monitoring/README.md
  modules/agent-commons/agent-monitoring/img/sentry-01.png
  modules/agent-commons/agent-monitoring/img/sentry-02.png
  modules/agent-commons/agent-monitoring/img/sentry-03.png
Owners: none

Snapshot 0.19.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

Revert "INTERNAL: split AbstractAgentFacade into subcomponents (AGS-34)"
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AbstractAgentFacade.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentFacadeDataExtractor.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentFacadeForMatch.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentFacadeProcessor.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentFacadeWorker.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/AbstractAgentFacadeTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/AgentFacadeDataExtractorTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/AgentFacadeProcessorTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/AgentFacadeWorkerTest.java
Owners: none

Snapshot 0.5.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: backport agent facade MR 194: support parallel processing in Agent Facade (AGS-34)
  modules/agent-commons/README.md
  modules/agent-commons/agent-facade-core/README.md
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AbstractAgentFacade.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentFacadeWorker.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/AgentFacadeProperties.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/AgentFacadeWorkerTest.java
Owners: none

Snapshot 0.34.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Update gradle to 7.3.2 (MI6-1132)
  modules/agent-commons/gradle/wrapper/gradle-wrapper.properties
Owners: none

INTERNAL: split AbstractAgentFacade into subcomponents (AGS-34)
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AbstractAgentFacade.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AbstractAgentFacadeForMatch.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentFacadeDataExtractor.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentFacadeProcessor.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentFacadeWorker.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/AbstractAgentFacadeTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/AgentFacadeDataExtractorTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/AgentFacadeProcessorTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/AgentFacadeWorkerTest.java
Owners: none

feat(agent-commons): Add agent commons module.
  modules/agents/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configtracker/ConfigsChangedEvent.java
  modules/agents/agent-commons/gradle.properties
Owners: @SilentEight/agents, @SilentEight/architecture

Snapshot 0.37.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Extracted versions from agents (MI6-638)
  modules/agent-commons/agent-dependencies-common/build.gradle
Owners: @SilentEight/architecture

Snapshot 0.15.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Bumped up Spring boot and related dependencies (MI6-1133)
  modules/agent-commons/agent-autoconfigure/build.gradle
  modules/agent-commons/agent-dependencies-common/build.gradle
  modules/agent-commons/gradle/scripts/dependencies.gradle
Owners: @SilentEight/architecture

INTERNAL: Get rid of facade.amqp.multi-queues.enabled property in agents (MI6-1481)
  modules/agent-commons/agent-facade-core/README.md
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/AtLeastOneFacadeEnabledCondition.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/MultiFacadeEnabledCondition.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/MultiQueueIntegrationConfiguration.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/MultiQueueRabbitBrokerConfiguration.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/SingleFacadeEnabledCondition.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/SingleQueueIntegrationConfiguration.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/SingleQueueRabbitBrokerConfiguration.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/MultiFacadeEnabledConditionTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/MultiFacadeRabbitBrokerTestConfiguration.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/RabbitBrokerTestConfiguration.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/SingleFacadeEnabledConditionTest.java
Owners: none

INTERNAL: attempt to fix a sonar codesmell/bug (SEALS-653)
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/ResourceDirectoryFilenamesFinder.java
Owners: none

INTERNAL: Enhance Integration Tests: finding free port for grpc server
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/CommonRabbitIntegrationTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/CommonRabbitWithGrpcConfigIntegrationTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/PortUtils.java
Owners: none

INTERNAL: Update dependency versions to match exactly sep-dependencies (MI6-638)
  modules/agent-commons/agent-dependencies-common/build.gradle
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

Snapshot 0.14.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

Snapshot 0.12.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Fix owasp-dependency-check in agents (MI6-1382)
  modules/agent-commons/gradle/scripts/dependencies.gradle
Owners: none

INTERNAL: New resource loader method (SEALS-22)
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/ResourcesReader.java
  modules/agent-commons/file-reading-commons/src/test/java/com/silenteight/agent/common/io/ResourcesReaderTest.java
  modules/agent-commons/file-reading-commons/src/test/resources/resourcereader/single_key_multiple_values.txt
Owners: none

Snapshot 0.4.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Spock upgraded (MI6-1415)
  modules/agent-commons/agent-dependencies-common/build.gradle
Owners: @SilentEight/architecture

feat: Remove sens-webapp-role and code related to it in sens-webapp-user(S8DEV-476)
  modules/backend/governance-db-changelog/src/main/resources/db/changelog/db.changelog-sens-webapp-roles-220630.xml
  modules/backend/governance-db-changelog/src/main/resources/db/changelog/db.changelog-webapp-master.xml
  modules/backend/sens-webapp-user/build.gradle
  modules/backend/sens-webapp-user/src/main/java/com/silenteight/sens/webapp/user/roles/UserRolesConfiguration.java
  modules/backend/sens-webapp-user/src/main/java/com/silenteight/sens/webapp/user/roles/UserRolesValidator.java
  modules/backend/sens-webapp-user/src/test/java/com/silenteight/sens/webapp/user/roles/UserRolesValidatorTest.java
  modules/backend/settings.gradle
  modules/webapp/sens-webapp-backend/build.gradle
  modules/webapp/sens-webapp-backend/src/main/java/com/silenteight/sens/webapp/backend/WebApplication.java
Owners: @SilentEight/architecture

S8DEV-447 - Extend geoLocation identificationLocation proto (#479)
  modules/agents-api/geo-agent-api/src/main/proto/silenteight/agent/geo/v1/api/common.proto
Owners: none

fix(ae): in-memory-solving fix comment input repository memory usage (#483)
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/infrastructure/hazelcast/HazelcastStorageProviderConfiguration.java
Owners: @SilentEight/delta

fix(qco-bridge): improve waiting for database insert in integration test (ALFA-315) (#481)
  modules/scb-bridge/bridge-qco/src/test/groovy/com/silenteight/iris/qco/domain/QcoAlertServiceSpecIT.groovy
Owners: none

fix: name agent is available on all test environments (#487)
  tests/e2e-tests/src/test/java/features/FrontSmokes.feature
Owners: @SilentEight/qa

fix(ae): in-memory-solving default memory setup (#486)
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/infrastructure/hazelcast/HazelcastConfigurationProperties.java
Owners: @SilentEight/delta

fix(core-bridge): Get/Stream Recommendations should filter out REGISTERED alerts (ALL-804) (#434)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/RecommendationFacade.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/recommendation/domain/RecommendationMapper.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/jdbc/CrudAlertRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/jdbc/JdbcAlertRepository.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/AlertService.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/RegistrationFacade.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/domain/port/outgoing/AlertRepository.java
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/domain/RegistrationFacadeSpec.groovy
Owners: @SilentEight/all-in

test: temporary disable "Create simple policy with steps via frontend" scenario (#490)
  tests/e2e-tests/src/test/java/features/FrontSmokes.feature
Owners: @SilentEight/qa

fix: s8-python-network location in dir tree (#484)
  modules/s8-python-network/.gitignore
  modules/s8-python-network/Jenkinsfile
  modules/s8-python-network/README.md
  modules/s8-python-network/pyproject.toml
  modules/s8-python-network/requirements.txt
  modules/s8-python-network/s8_python_network/__init__.py
  modules/s8-python-network/s8_python_network/consul/__init__.py
  modules/s8-python-network/s8_python_network/consul/consul.py
  modules/s8-python-network/s8_python_network/grpc_channel/__init__.py
  modules/s8-python-network/s8_python_network/grpc_channel/grpc_channel.py
  modules/s8-python-network/s8_python_network/pika_connection/__init__.py
  modules/s8-python-network/s8_python_network/pika_connection/config.py
  modules/s8-python-network/s8_python_network/pika_connection/pika_connection.py
  modules/s8-python-network/s8_python_network/ssl_credentials.py
  modules/s8-python-network/s8_python_network/utils.py
  modules/s8-python-network/scripts/build.sh
  modules/s8-python-network/scripts/clean.sh
  modules/s8-python-network/scripts/publish.sh
  modules/s8-python-network/scripts/tag_and_bump_version.sh
  modules/s8-python-network/scripts/test.sh
  modules/s8-python-network/setup.cfg
  modules/s8-python-network/setup.py
  modules/s8-python-network/tests/__init__.py
  modules/s8-python-network/tests/test_grpc/__init__.py
  modules/s8-python-network/tests/test_grpc/server_mocks/__init__.py
  modules/s8-python-network/tests/test_grpc/server_mocks/aio_insecure.py
  modules/s8-python-network/tests/test_grpc/server_mocks/aio_secure.py
  modules/s8-python-network/tests/test_grpc/server_mocks/health_service.py
  modules/s8-python-network/tests/test_grpc/server_mocks/insecure.py
  modules/s8-python-network/tests/test_grpc/server_mocks/secure.py
  modules/s8-python-network/tests/test_grpc/ssl_example/ca.pem
  modules/s8-python-network/tests/test_grpc/ssl_example/client-key.pem
  modules/s8-python-network/tests/test_grpc/ssl_example/client.pem
  modules/s8-python-network/tests/test_grpc/ssl_example/server-key.pem
  modules/s8-python-network/tests/test_grpc/ssl_example/server.pem
  modules/s8-python-network/tests/test_grpc/test_grpc_channel.py
  modules/s8-python-network/tests/test_pika_connection/__init__.py
  modules/s8-python-network/tests/test_pika_connection/test_rabbitmq_config.py
  modules/s8-python-network/tox.ini
Owners: @ahaczewski, @pputerla, @snieguu

fix(ae): typo fix in historical tp comment template (AEP2-1036) (#493)
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/sierra/historical-agent-tp.ftl
Owners: @SilentEight/delta

fix(ae): add watchlist type at the end of the company agent comment (AEP2-1037) (#494)
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/sierra/categories.ftl
Owners: @SilentEight/delta

perf(core-bridge): core_bridge_matches index on alert_id (ALL-819) (#500)
  modules/core-bridge/bridge-app/src/main/resources/db/changelog/changes/db.changelog-core-bridge-1.0.0.yaml
Owners: @SilentEight/all-in

feat: Configure agents in IRIS NNS (WEB-2380) (#498)
  modules/backend/governance-agent/src/main/resources/agent_configs.json
  modules/backend/governance-agent/src/main/resources/agent_details.json
Owners: none

refactor: replace custom task queuing mechanism with Spring task scheduling (#480)
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/CategoryResolvePublisher.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/CommentInputResolvePublisher.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/CommentInputStorePublisher.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/GovernanceAlertPublisher.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/MatchCategoryPublisher.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/MatchFeaturePublisher.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/MatchSolutionPublisher.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/PublisherConfiguration.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/PublisherConfigurationProperties.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/ReadyMatchFeatureVectorPublisher.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/infrastructure/hazelcast/HazelcastAlertSolvingRepository.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/AgentResponseProcessTest.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/publisher/MatchSolutionPublisherTest.java
Owners: @SilentEight/delta
