Repository ngraczykowski/iris-root, changes with the owners that CODEOWNERS names for each.
All owners: @SilentEight/delta, @SilentEight/whiskey, @SilentEight/all-in, @SilentEight/agents, @ahaczewski, @SilentEight/devops, @SilentEight/architecture, @pputerla, @snieguu, @SilentEight/qa

test
  modules/agent-commons/build.gradle
Owners: @SilentEight/architecture

INTERNAL: Change ADR status to Accepted
  modules/agent-commons/doc/architecture/decisions/0001-SYS-use-slf4j-for-common-cases-logging.adoc
Owners: none

test
  modules/agent-commons/build.gradle
Owners: @SilentEight/architecture

INTERNAL: Remove dependency to sep-base (MI6-1333)
  modules/agent-commons/agent-autoconfigure/build.gradle
  modules/agent-commons/agent-autoconfigure/src/main/java/com/silenteight/agent/autoconfigure/spring/EnvironmentLoggingApplicationListener.java
  modules/agent-commons/agent-autoconfigure/src/main/java/com/silenteight/agent/autoconfigure/spring/SensitivePropertiesMatcher.java
  modules/agent-commons/agent-autoconfigure/src/main/resources/META-INF/spring.factories
  modules/agent-commons/agent-autoconfigure/src/test/java/com/silenteight/agent/autoconfigure/spring/SensitivePropertiesMatcherTest.java
  modules/agent-commons/agent-database-test/build.gradle
  modules/agent-commons/agent-database-test/src/main/java/com/silenteight/agent/common/database/test/BaseDataJpaTest.java
  modules/agent-commons/agent-database/build.gradle
  modules/agent-commons/agent-database/src/main/java/com/silenteight/agent/common/database/autoconfigure/DataSourceAutoConfiguration.java
  modules/agent-commons/agent-database/src/main/java/com/silenteight/agent/common/database/autoconfigure/TransactionManagerAutoConfiguration.java
  modules/agent-commons/agent-database/src/main/java/com/silenteight/agent/common/database/entity/BaseEntity.java
  modules/agent-commons/agent-database/src/main/java/com/silenteight/agent/common/database/hibernate/FixedPostgreSql95Dialect.java
  modules/agent-commons/agent-database/src/main/java/com/silenteight/agent/common/database/hibernate/SilentEightImplicitNamingStrategy.java
  modules/agent-commons/agent-database/src/main/java/com/silenteight/agent/common/database/hibernate/SilentEightImplicitNamingStrategyResolver.java
  modules/agent-commons/agent-database/src/main/java/com/silenteight/agent/common/database/hibernate/SilentEightNamingConventionConfiguration.java
  modules/agent-commons/agent-database/src/main/java/com/silenteight/agent/common/database/hibernate/SilentEightPhysicalNamingStrategy.java
  modules/agent-commons/agent-database/src/main/resources/META-INF/spring.factories
  modules/agent-commons/agent-database/src/test/java/com/silenteight/agent/common/database/hibernate/SilentEightImplicitNamingStrategyResolverTest.java
  modules/agent-commons/agent-messaging/build.gradle
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/CustomConditionalRejectingErrorHandler.java
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/CustomExceptionStrategy.java
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/MessagingConfiguration.java
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/RabbitConfiguringPostProcessor.java
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/amqp/AmqpInboundFactory.java
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/amqp/AmqpOutboundFactory.java
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/amqp/IntegrationConfiguration.java
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/proto/AnyUtils.java
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/proto/MessageRegistry.java
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/proto/MessageRegistryFactory.java
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/proto/ProtoMessageConverter.java
  modules/agent-commons/agent-messaging/src/main/resources/META-INF/spring.factories
  modules/agent-commons/agent-messaging/src/test/java/com/silenteight/agent/common/messaging/proto/ProtoMessageConverterTest.java
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/ResourceDirectoryFilenamesFinder.java
  modules/agent-commons/gradle/scripts/dependencies.gradle
  modules/agent-commons/settings.gradle
Owners: @SilentEight/architecture

INTERNAL: Queues with priority support added (MI6-1579)
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/AgentFacadeProperties.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/DeleteQueueWithoutPrioritySupportUseCase.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/MultiQueueIntegrationConfiguration.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/MultiQueueRabbitBrokerConfiguration.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/QueueItem.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/SingleQueueIntegrationConfiguration.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/SingleQueueRabbitBrokerConfiguration.java
Owners: none

INTERNAL: Fixing sonar code smells
  modules/agent-commons/agent-autoconfigure/src/main/java/com/silenteight/agent/autoconfigure/grpc/test/GrpcServerExtension.java
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/FileFormatConstants.java
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/ResourceDirectoryFilenamesFinder.java
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/UnivocityCsvReader.java
Owners: none

INTERNAL: Add Monitoring abstraction with Sentry implementation
  modules/agent-commons/agent-monitoring/build.gradle
  modules/agent-commons/agent-monitoring/src/main/java/com/silenteight/agent/monitoring/Monitoring.java
  modules/agent-commons/agent-monitoring/src/main/java/com/silenteight/agent/monitoring/MonitoringConfiguration.java
  modules/agent-commons/agent-monitoring/src/main/java/com/silenteight/agent/monitoring/MonitoringModule.java
  modules/agent-commons/agent-monitoring/src/main/java/com/silenteight/agent/monitoring/SentryMonitoring.java
  modules/agent-commons/gradle/scripts/dependencies.gradle
  modules/agent-commons/settings.gradle
Owners: @SilentEight/architecture

Snapshot 0.28.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL:Update gradle-convention plugin and nebula resolution plugin versions (MI6-1131)
  modules/agent-commons/build.gradle
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/Common.java
  modules/agent-commons/gradle/scripts/resolutionRules.gradle
Owners: @SilentEight/architecture

Snapshot 0.26.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Additional file reading methods to file-reading-commons (SEALS-24)
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/FileReader.java
Owners: none

INTERNAL: Align the AMQP response with the gRPC (MI6-1423)
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/AgentReasonMapper.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/StructReasonMapperTest.java
Owners: none

Snapshot 0.13.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Load csv with header as stream (SEALS-218)
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/CsvReader.java
  modules/agent-commons/file-reading-commons/src/test/java/com/silenteight/agent/common/io/CsvReaderTest.java
  modules/agent-commons/file-reading-commons/src/test/resources/csvfiles/file.csv
  modules/agent-commons/file-reading-commons/src/test/resources/csvfiles/file_with_header.csv
Owners: none

Enhancement: Enhance ConfigTracker module
  modules/agent-commons/agent-config-loader/conf/tracker/agent/confs.yml
  modules/agent-commons/agent-config-loader/conf/tracker/agent/first_confs.yml
  modules/agent-commons/agent-config-loader/conf/tracker/agent/nested/confs.yml
  modules/agent-commons/agent-config-loader/conf/tracker/agent/second_confs.yml
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configtracker/ContextRefreshedConfigsChangeTracker.java
  modules/agent-commons/agent-config-loader/src/test/java/com/silenteight/agent/configtracker/ConfigsTrackerTest.java
Owners: none

INTERNAL: Local monitoring log removed (MI6-1330)
  modules/agent-commons/agent-monitoring/src/main/java/com/silenteight/agent/monitoring/MonitoringConfiguration.java
Owners: none

INTERNAL: New resource reading method with custom transformers and default filters (SEALS-166)
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/ResourcesReader.java
Owners: none

INTERNAL: Add metrics module (MI6-1338)
  modules/agent-commons/agent-metrics/build.gradle
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/BucketBoundaries.java
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/BucketBoundary.java
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/MetricTag.java
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/Metrics.java
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/MetricsAspect.java
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/MetricsConfiguration.java
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/MetricsRecorder.java
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/MetricsTemplate.java
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/RecordCounterMetrics.java
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/RecordDistributionMetrics.java
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/RecordMetrics.java
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/RecordTimerMetrics.java
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/RecordableMetrics.java
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/micrometer/MicrometerRecorder.java
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/micrometer/ServiceLevelObjectivesMapper.java
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/micrometer/TagsMapper.java
  modules/agent-commons/agent-metrics/src/main/resources/META-INF/spring.factories
  modules/agent-commons/agent-metrics/src/test/java/com/silenteight/agent/common/metrics/RecordMetricsTest.java
  modules/agent-commons/agent-metrics/src/test/java/com/silenteight/agent/common/metrics/micrometer/MicrometerRecorderTest.java
  modules/agent-commons/gradle/scripts/dependencies.gradle
  modules/agent-commons/settings.gradle
Owners: @SilentEight/architecture

INTERNAL: Switch platforms from sep-dependencies to internal module (MI6-638)
  modules/agent-commons/gradle.properties
  modules/agent-commons/gradle/scripts/dependencies.gradle
  modules/agent-commons/settings.gradle
Owners: @SilentEight/architecture

INTERNAL: Missing outExchange in RabbitBrokerTestConfiguration fix (MI6-1523)
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/RabbitBrokerTestConfiguration.java
Owners: none

Snapshot 0.11.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Bump up ecs logging version to align with sep-dependencies (AGS-31)
  modules/agent-commons/agent-dependencies-common/build.gradle
Owners: @SilentEight/architecture

INTERNAL: Added overriden version of configs loader with path as an argument (MI6-1102)
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configloader/AgentConfigsLoader.java
Owners: none

INTERNAL: Move Dictionary API from linguistics to agent-commons (SEALS-421)
  modules/agent-commons/agent-dictionaries/build.gradle
Owners: @SilentEight/architecture

INTERNAL: Extracted class from SEP-BASE (MI6-638)
  modules/agent-commons/gradle.properties
  modules/agent-commons/settings.gradle
  modules/agent-commons/tmp-agent-commons/build.gradle
  modules/agent-commons/tmp-agent-commons/src/main/java/com/silenteight/agent/common/grpc/GrpcServerExtension.java
Owners: @SilentEight/architecture

INTERNAL: Upgrade Spring Boot to 2.6.6
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/MetricsConfiguration.java
  modules/agent-commons/agent-metrics/src/main/java/com/silenteight/agent/common/metrics/micrometer/MicrometerRecorder.java
  modules/agent-commons/agent-metrics/src/test/java/com/silenteight/agent/common/metrics/micrometer/MicrometerRecorderTest.java
Owners: none

Bugfix: Freetext agent fat jar issue (SERP-589)
  modules/agent-commons/file-reading-commons/build.gradle
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/ResourceDirectoryFilenamesFinder.java
  modules/agent-commons/file-reading-commons/src/test/groovy/com/silenteight/agent/common/io/ResourceDirectoryFilenamesFinderSpec.groovy
  modules/agent-commons/file-reading-commons/src/test/java/com/silenteight/agent/common/io/ResourceDirectoryFilenamesFinderTest.java
Owners: @SilentEight/architecture

INTERNAL: Block actuator endpoints (MI6-1285)
  modules/agent-commons/agent-autoconfigure/src/main/resources/config/application.yml
Owners: none

- new reading method
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/FileReader.java
Owners: none

INTERNAL: Fix not required bean injection (MI6-1579)
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/MultiQueueIntegrationConfiguration.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/SingleQueueIntegrationConfiguration.java
Owners: none

Snapshot 0.27.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

Snapshot 0.35.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: update grpc bom version
  modules/agent-commons/agent-dependencies-common/build.gradle
Owners: @SilentEight/architecture

INTERNAL: Config loader and config tracker enhancements (MI6-560)
  modules/agent-commons/README.md
  modules/agent-commons/agent-config-loader/conf/test-app/test-app-config.yml
  modules/agent-commons/agent-config-loader/conf/tracker/confs.yml
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configloader/AgentConfigsLoader.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configloader/ConfigParser.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configloader/ConfigsPathFinder.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configloader/HomeDirectoryDiscoverer.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configtracker/ConfigsLoader.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/io/FileReader.java
  modules/agent-commons/agent-config-loader/src/test/java/com/silenteight/agent/configloader/ConfigLoaderTest.java
  modules/agent-commons/agent-config-loader/src/test/java/com/silenteight/agent/configloader/ConfigsPathFinderTest.java
  modules/agent-commons/agent-config-loader/src/test/java/com/silenteight/agent/configtracker/ConfigsTrackerTest.java
Owners: none

INTERNAL: Update DataSourceApi dependency IRIS (SEALS-1032) (#4)
  modules/agent-commons/gradle/scripts/dependencies.gradle
Owners: none

Snapshot 0.23.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

Snapshot 0.1.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Reformatting dependencies (MI6-638)
  modules/agent-commons/agent-autoconfigure/build.gradle
  modules/agent-commons/build.gradle
  modules/agent-commons/gradle/.editorconfig
  modules/agent-commons/gradle/scripts/dependencies.gradle
  modules/agent-commons/gradle/scripts/starterCommon.gradle
Owners: @SilentEight/architecture, @ahaczewski, @pputerla, @snieguu

Set Github pipeline-shared-library
  modules/agent-commons/Jenkinsfile
Owners: none

Snapshot 0.33.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

CODEOWNERS:

####################################################################################################
# NOTE(ahaczewski): Add code owners for modules below.
####################################################################################################

#----------------------------------------------------------
# Delta team
#----------------------------------------------------------
/modules/adjudication-engine/**/*     @SilentEight/delta
/modules/payments-bridge/**/*         @SilentEight/delta
/modules/universal-data-source/**/*   @SilentEight/delta

#----------------------------------------------------------
# Whiskey team
#----------------------------------------------------------
/modules/warehouse/**/*   @SilentEight/whiskey

#----------------------------------------------------------
# All-In team
#----------------------------------------------------------
/modules/core-bridge/**/*                           @SilentEight/all-in
/modules/core-bridge-recommendation-connector/**/*  @SilentEight/all-in
/modules/core-bridge-registration-connector/**/*    @SilentEight/all-in
/modules/hsbc-bridge/**/*                           @SilentEight/all-in
/modules/ms-bridge/**/*                             @SilentEight/all-in
/modules/protobuf-spring-boot-starter/**/*          @SilentEight/all-in

#----------------------------------------------------------
# Agents team
#----------------------------------------------------------
/modules/agents/**/*    @SilentEight/agents

####################################################################################################
# NOTE(ahaczewski): Add code owners for modules above. Do not modify owners below.
####################################################################################################

/gradle/wrapper/* @ahaczewski
/gradlew          @ahaczewski
/gradlew.bat      @ahaczewski

/.jenkins/*           @SilentEight/devops
/.github/*            @SilentEight/architecture
/.github/workflows/*  @ahaczewski

/.idea/**/*               @ahaczewski @pputerla @snieguu
/.pre-commit-config.yaml  @ahaczewski @pputerla @snieguu
/CODEOWNERS               @ahaczewski
.editorconfig             @ahaczewski @pputerla @snieguu
.gitattributes            @ahaczewski @pputerla @snieguu
.gitignore                @ahaczewski @pputerla @snieguu

/build-logic/**/*   @SilentEight/architecture
/platforms/**/*     @SilentEight/architecture
/gradle/*.toml      @SilentEight/architecture
build.gradle        @SilentEight/architecture
gradle.properties   @SilentEight/architecture
settings.gradle     @SilentEight/architecture

/tests/**/*       @SilentEight/qa
