Repository ngraczykowski/iris-root, changes with the owners that CODEOWNERS names for each.
All owners: @ahaczewski, @SilentEight/devops, @SilentEight/architecture, @kkicza

CODEOWNERS:

/gradle/wrapper/* @ahaczewski
/gradlew          @ahaczewski
/gradlew.bat      @ahaczewski

/.jenkins/*   @SilentEight/devops
/.github/*    @SilentEight/architecture

/.github/workflows/*      @ahaczewski

/.idea/**/*               @ahaczewski
/.editorconfig            @ahaczewski
/.gitattributes           @ahaczewski
/.gitignore               @ahaczewski
/.pre-commit-config.yaml  @ahaczewski
/CODEOWNERS               @ahaczewski

/build-logic/**/* @SilentEight/architecture
/platforms/**/*   @SilentEight/architecture
/gradle/*.toml    @SilentEight/architecture
build.gradle      @SilentEight/architecture
gradle.properties @SilentEight/architecture
settings.gradle   @SilentEight/architecture

/tests/**/*       @kkicza

fix(pb): checking for NoSuchKeyException (#52)
  modules/payments-bridge/sear-payments-bridge-agents/src/main/java/com/silenteight/payments/bridge/agents/service/SpecificTerms2Configuration.java
Owners: none

Snapshot 2.1.0-SNAPSHOT
  warehouse-api/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Remove deprecated flag (WEB-1433)
  warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v1/data.proto
Owners: none

INTERNAL: Add internal warehouse api (WEB-1434)
  warehouse-api/se-warehouse-internal-api/build.gradle
  warehouse-api/se-warehouse-internal-api/src/main/proto/silenteight/warehouseinternal/api/v1/configuration_management.proto
  warehouse-api/settings.gradle
Owners: @SilentEight/architecture

WEB-747 Added library grpc-census
  patches.path
Owners: none

feat(warehouse-api): Adjusted warehouse-api to the iris (ARC-53)
  gradle/libs.versions.toml
  modules/settings.gradle
  modules/warehouse-api/README.md
  modules/warehouse-api/build.gradle
  modules/warehouse-api/gradle.properties
  modules/warehouse-api/se-data-api/build.gradle
  modules/warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v1/data.proto
  modules/warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v2/data.proto
  modules/warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v2/qa.proto
  modules/warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v2/sim.proto
  modules/warehouse-api/se-sampling-alerts-api/build.gradle
  modules/warehouse-api/se-sampling-alerts-api/src/main/proto/silenteight/sampling/alerts/api/v1/get_alerts.proto
  modules/warehouse-api/se-sampling-alerts-api/src/main/proto/silenteight/sampling/alerts/api/v1/get_distribution.proto
  modules/warehouse-api/se-warehouse-internal-api/build.gradle
  modules/warehouse-api/se-warehouse-internal-api/src/main/proto/silenteight/warehouseinternal/api/v1/configuration_management.proto
  modules/warehouse-api/settings.gradle
  warehouse-api/.gitignore
  warehouse-api/Jenkinsfile
  warehouse-api/Jenkinsfile-mergerequest
  warehouse-api/build.gradle
  warehouse-api/gradle/wrapper/gradle-wrapper.jar
  warehouse-api/gradle/wrapper/gradle-wrapper.properties
  warehouse-api/gradlew
  warehouse-api/gradlew.bat
  warehouse-api/jenkins.properties
  warehouse-api/lombok.config
  warehouse-api/se-data-api/build.gradle
  warehouse-api/se-sampling-alerts-api/build.gradle
  warehouse-api/se-warehouse-internal-api/build.gradle
  warehouse-api/settings.gradle
Owners: @SilentEight/architecture

Snapshot 1.6.0-SNAPSHOT
  warehouse-api/gradle.properties
Owners: @SilentEight/architecture

Feature: Implement gRPC in Warehouse-api for alerts sampling (WEB-1239)
  warehouse-api/se-sampling-alerts-api/build.gradle
  warehouse-api/se-sampling-alerts-api/src/main/proto/silenteight/sampling/alerts/api/v1/get_alerts.proto
  warehouse-api/settings.gradle
Owners: @SilentEight/architecture

INTERNAL: Split alerts for qa/simulation process
  warehouse-api/gradle.properties
  warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v2/qa.proto
  warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v2/sim.proto
Owners: @SilentEight/architecture

Snapshot 1.3.0-SNAPSHOT
  warehouse-api/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Add dedicated field for access permission (WEB-1662)
  warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v1/data.proto
Owners: none

Enhancement: Alerts distribution api (WEB-1221)
  warehouse-api/se-sampling-alerts-api/src/main/proto/silenteight/sampling/alerts/api/v1/get_distribution.proto
Owners: none

feat(warehouse-api): Reverted unnecessary changes (ARC-53)
  .idea/jpa-buddy.xml
  gradle/libs.versions.toml
  modules/settings.gradle
  patches.path
  tests/e2e-tests/report.html
Owners: @ahaczewski, @SilentEight/architecture, @kkicza

Add timestamp to QaDataIndexRequest
  warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v2/qa.proto
Owners: none

Add data.api.v2 with discriminator at match level
  warehouse-api/gradle.properties
  warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v2/data.proto
Owners: @SilentEight/architecture

Snapshot 1.7.0-SNAPSHOT
  warehouse-api/gradle.properties
Owners: @SilentEight/architecture

Snapshot 2.4.0-SNAPSHOT
  warehouse-api/gradle.properties
Owners: @SilentEight/architecture

Snapshot 1.5.0-SNAPSHOT
  warehouse-api/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: project structure setup
  warehouse-api/.gitignore
  warehouse-api/Jenkinsfile
  warehouse-api/Jenkinsfile-mergerequest
  warehouse-api/README.md
  warehouse-api/build.gradle
  warehouse-api/gradle.properties
  warehouse-api/gradle/wrapper/gradle-wrapper.jar
  warehouse-api/gradle/wrapper/gradle-wrapper.properties
  warehouse-api/gradlew
  warehouse-api/gradlew.bat
  warehouse-api/jenkins.properties
  warehouse-api/lombok.config
  warehouse-api/se-data-api/build.gradle
  warehouse-api/settings.gradle
Owners: @SilentEight/architecture

Snapshot 1.2.0-SNAPSHOT
  warehouse-api/gradle.properties
Owners: @SilentEight/architecture

Snapshot 1.4.0-SNAPSHOT
  warehouse-api/gradle.properties
Owners: @SilentEight/architecture

Snapshot 1.1.0-SNAPSHOT
  warehouse-api/gradle.properties
Owners: @SilentEight/architecture

Snapshot 2.2.0-SNAPSHOT
  warehouse-api/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Add separate message for simulation flow.
  warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v1/data.proto
Owners: none

Enhancement: Add discriminator field
  warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v1/data.proto
Owners: none

Revert "Added warehouse-api to the modules (ARC-53)"
  .idea/jpa-buddy.xml
  gradle/libs.versions.toml
  modules/settings.gradle
  modules/warehouse-api/README.md
  modules/warehouse-api/build.gradle
  modules/warehouse-api/gradle.properties
  modules/warehouse-api/se-data-api/build.gradle
  modules/warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v1/data.proto
  modules/warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v2/data.proto
  modules/warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v2/qa.proto
  modules/warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v2/sim.proto
  modules/warehouse-api/se-sampling-alerts-api/build.gradle
  modules/warehouse-api/se-sampling-alerts-api/src/main/proto/silenteight/sampling/alerts/api/v1/get_alerts.proto
  modules/warehouse-api/se-sampling-alerts-api/src/main/proto/silenteight/sampling/alerts/api/v1/get_distribution.proto
  modules/warehouse-api/se-warehouse-internal-api/build.gradle
  modules/warehouse-api/se-warehouse-internal-api/src/main/proto/silenteight/warehouseinternal/api/v1/configuration_management.proto
  modules/warehouse-api/settings.gradle
  tests/e2e-tests/report.html
Owners: @ahaczewski, @SilentEight/architecture, @kkicza

INTERNAL: Add missing comment field on QaAlert (WEB-1783)
  warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v2/qa.proto
Owners: none

INTERNAL: align versions with sep-base 1.12.2
  warehouse-api/build.gradle
Owners: @SilentEight/architecture

feat(warehouse-api): Fixed group in gradle.properties (ARC-53)
  modules/warehouse-api/gradle.properties
Owners: @SilentEight/architecture

Initial commit
  warehouse-api/README.md
Owners: none

Snapshot 2.3.0-SNAPSHOT
  warehouse-api/gradle.properties
Owners: @SilentEight/architecture

Initial version of Data API
  warehouse-api/se-data-api/src/main/proto/silenteight/data/api/v1/data.proto
Owners: none

fix(pb): getting new analysis only during solving process (#54)
  modules/payments-bridge/sear-payments-bridge-ae/src/main/java/com/silenteight/payments/bridge/ae/alertregistration/service/AnalysisProvider.java
Owners: none

Initial commit - Jenkinsfile, scripts etc. Simple tests and code for consul and grpc connection
  s8-python-network/s8-python-network/Jenkinsfile
  s8-python-network/s8-python-network/pyproject.toml
  s8-python-network/s8-python-network/requirements.txt
  s8-python-network/s8-python-network/s8_python_network/__init__.py
  s8-python-network/s8-python-network/s8_python_network/consul/__init__.py
  s8-python-network/s8-python-network/s8_python_network/consul/consul.py
  s8-python-network/s8-python-network/s8_python_network/grpc_channel/__init__.py
  s8-python-network/s8-python-network/s8_python_network/grpc_channel/grpc_channel.py
  s8-python-network/s8-python-network/s8_python_network/grpc_channel/server_mocks/__init__.py
  s8-python-network/s8-python-network/s8_python_network/grpc_channel/server_mocks/aio_insecure.py
  s8-python-network/s8-python-network/s8_python_network/grpc_channel/server_mocks/aio_secure.py
  s8-python-network/s8-python-network/s8_python_network/grpc_channel/server_mocks/insecure.py
  s8-python-network/s8-python-network/s8_python_network/grpc_channel/server_mocks/secure.py
  s8-python-network/s8-python-network/s8_python_network/utils.py
  s8-python-network/s8-python-network/scripts/build.sh
  s8-python-network/s8-python-network/scripts/clean.sh
  s8-python-network/s8-python-network/scripts/publish.sh
  s8-python-network/s8-python-network/scripts/release.sh
  s8-python-network/s8-python-network/scripts/test.sh
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/setup.py
  s8-python-network/s8-python-network/tests/__init__.py
  s8-python-network/s8-python-network/tests/test_grpc_channel.py
  s8-python-network/s8-python-network/tox.ini
Owners: none

ci: add google-java-format (#55)
  .jenkins/Jenkinsfile
Owners: @SilentEight/devops

chore(chart): allow templating of args and properties
  charts/sear/component/spring/deployment.yaml.tpl
  charts/sear/templates/_tplvalues.tpl
Owners: none

tox.ini fix
  s8-python-network/s8-python-network/tox.ini
Owners: none

flake/isort fix, mocks moved to /tests dir
  s8-python-network/s8-python-network/s8_python_network/__init__.py
  s8-python-network/s8-python-network/setup.cfg
  s8-python-network/s8-python-network/tests/test_grpc/__init__.py
  s8-python-network/s8-python-network/tests/test_grpc/server_mocks/__init__.py
  s8-python-network/s8-python-network/tests/test_grpc/server_mocks/aio_insecure.py
  s8-python-network/s8-python-network/tests/test_grpc/server_mocks/aio_secure.py
  s8-python-network/s8-python-network/tests/test_grpc/server_mocks/insecure.py
  s8-python-network/s8-python-network/tests/test_grpc/server_mocks/secure.py
  s8-python-network/s8-python-network/tests/test_grpc/test_grpc_channel.py
Owners: none

fix(sierra): daily report bucket configuration (#56)
  kubernetes/values.sierra.yaml
Owners: none

fix: downgrade java bytecode for data-source-api (#49)
  build-logic/protobuf/src/main/groovy/com.silenteight.iris.build.protobuf.gradle
  modules/adjudication-engine/build.gradle
  modules/payments-bridge/build.gradle
Owners: @SilentEight/architecture
