Repository ngraczykowski/iris-root, changes with the owners that CODEOWNERS names for each.
All owners: @ahaczewski, @SilentEight/devops, @SilentEight/architecture, @kkicza

CODEOWNERS:

/gradle/wrapper/* @ahaczewski
/gradlew          @ahaczewski
/gradlew.bat      @ahaczewski

/.jenkins/*   @SilentEight/devops
/.github/*    @SilentEight/architecture

/.github/workflows/*      @ahaczewski

/.idea/**/*               @ahaczewski
/.editorconfig            @ahaczewski
/.gitattributes           @ahaczewski
/.gitignore               @ahaczewski
/.pre-commit-config.yaml  @ahaczewski
/CODEOWNERS               @ahaczewski

/build-logic/**/* @SilentEight/architecture
/platforms/**/*   @SilentEight/architecture
/gradle/*.toml    @SilentEight/architecture
build.gradle      @SilentEight/architecture
gradle.properties @SilentEight/architecture
settings.gradle   @SilentEight/architecture

/tests/**/*       @kkicza

Revert changes in misc.xml
  .idea/misc.xml
Owners: @ahaczewski

WEB-747 Added library grpc-census
  .idea/vcs.xml
Owners: @ahaczewski

INTERNAL: Switch to gov.events exchange (WEB-1987)
  modules/simulator/simulator-common-web/src/main/java/com/silenteight/simulator/common/integration/BrokerConfiguration.java
Owners: none

Enhancement: Block creating simulation if not all datasets are Active.
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/common/DatasetResource.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/domain/DatasetEntity.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/domain/DatasetEntityRepository.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/domain/DatasetExternalResourceNameProvider.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/domain/DatasetQuery.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/domain/DatasetValidator.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/domain/exception/NonActiveDatasetInSet.java
  modules/simulator/simulator-dataset/src/test/java/com/silenteight/simulator/dataset/domain/DatasetQueryTest.java
  modules/simulator/simulator-dataset/src/test/java/com/silenteight/simulator/dataset/fixture/DatasetFixtures.java
  modules/simulator/simulator-management/src/main/java/com/silenteight/simulator/management/create/CreateSimulationConfiguration.java
  modules/simulator/simulator-management/src/main/java/com/silenteight/simulator/management/create/CreateSimulationControllerAdvice.java
  modules/simulator/simulator-management/src/main/java/com/silenteight/simulator/management/create/CreateSimulationUseCase.java
  modules/simulator/simulator-management/src/test/java/com/silenteight/simulator/management/create/CreateSimulationRestControllerTest.java
  modules/simulator/simulator-management/src/test/java/com/silenteight/simulator/management/create/CreateSimulationUseCaseTest.java
Owners: none

INTERNAL: increased memory limit in nomad configuration
  modules/simulator/nomad/simulator.nomad
Owners: none

INTERNAL: Set static minio address
  modules/simulator/nomad/deploy.sh
Owners: none

Change impl in sending simulation data to index in WH.
  modules/simulator/gradle.properties
  modules/simulator/simulator-processing/src/main/java/com/silenteight/simulator/processing/alert/index/feed/RecommendationsGeneratedUseCase.java
  modules/webapp/gradle.properties
Owners: @SilentEight/architecture

Feature: Datasets-create rest endpoint for single/multiple hit (WEB-1976)
  modules/simulator/simulator-app/src/main/resources/config/application-sierra.yml
  modules/simulator/simulator-app/src/main/resources/config/application.yml
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/create/CreateDatasetConfiguration.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/create/CreateDatasetProperties.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/create/CreateDatasetRequest.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/create/CreateDatasetRestController.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/create/CreateDatasetUseCase.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/create/DatasetLabelProperties.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/create/dto/CreateDatasetRequestDto.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/domain/AlertMatch.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/domain/DatasetEntity.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/domain/DatasetMetadataService.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/dto/AlertSelectionCriteriaDto.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/dto/DatasetDto.java
  modules/simulator/simulator-dataset/src/main/java/com/silenteight/simulator/dataset/grpc/create/GrpcCreateDatasetService.java
  modules/simulator/simulator-dataset/src/test/java/com/silenteight/simulator/dataset/create/CreateDatasetUseCaseTest.java
  modules/simulator/simulator-dataset/src/test/java/com/silenteight/simulator/dataset/domain/DatasetMetadataServiceTest.java
  modules/simulator/simulator-dataset/src/test/java/com/silenteight/simulator/dataset/domain/DatasetQueryTest.java
  modules/simulator/simulator-dataset/src/test/java/com/silenteight/simulator/dataset/fixture/DatasetFixtures.java
  modules/simulator/simulator-dataset/src/test/java/com/silenteight/simulator/dataset/get/GetDatasetRestControllerTest.java
  modules/simulator/simulator-dataset/src/test/java/com/silenteight/simulator/dataset/grpc/create/GrpcCreateDatasetServiceTest.java
  modules/simulator/simulator-dataset/src/test/java/com/silenteight/simulator/dataset/list/ListDatasetRestControllerTest.java
  modules/simulator/simulator-db-changelog/src/main/resources/db/changelog/db.changelog-simulator-1.5.0.xml
  modules/simulator/simulator-documentation/src/api/dataset/openapi.yaml
Owners: none

Feature: Simulator should handle comment at match level (WEB-2335)
  modules/simulator/simulator-processing/src/main/java/com/silenteight/simulator/processing/alert/index/feed/RecommendationsGeneratedUseCase.java
  modules/simulator/simulator-processing/src/test/java/com/silenteight/simulator/processing/alert/index/feed/RecommendationsGeneratedUseCaseTest.java
  modules/simulator/simulator-processing/src/test/java/com/silenteight/simulator/processing/alert/index/fixtures/RecommendationFixtures.java
Owners: none

Add missing misc and vcs files and bump up um-api in gradle.properties
  .idea/vcs.xml
  modules/sep-usermanagement-api/gradle.properties
Owners: @ahaczewski, @SilentEight/architecture

Feature: Switch to new ae-api and wh-api in Simulator (WEB-2307) (WEB-2313)
  modules/simulator/simulator-management/src/main/java/com/silenteight/simulator/management/grpc/GrpcAnalysisService.java
  modules/simulator/simulator-management/src/test/java/com/silenteight/simulator/management/grpc/GrpcAnalysisServiceTest.java
  modules/simulator/simulator-processing/src/main/java/com/silenteight/simulator/processing/alert/index/ack/FetchAckMessageUseCase.java
  modules/simulator/simulator-processing/src/main/java/com/silenteight/simulator/processing/alert/index/amqp/gateway/SimulationDataIndexRequestGateway.java
  modules/simulator/simulator-processing/src/main/java/com/silenteight/simulator/processing/alert/index/amqp/listener/AckMessageFlowAdapter.java
  modules/simulator/simulator-processing/src/main/java/com/silenteight/simulator/processing/alert/index/amqp/listener/AckMessageHandler.java
  modules/simulator/simulator-processing/src/main/java/com/silenteight/simulator/processing/alert/index/feed/RecommendationInfoBatch.java
  modules/simulator/simulator-processing/src/main/java/com/silenteight/simulator/processing/alert/index/feed/RecommendationWithMetaDataBatch.java
  modules/simulator/simulator-processing/src/main/java/com/silenteight/simulator/processing/alert/index/feed/RecommendationsGeneratedConfiguration.java
  modules/simulator/simulator-processing/src/main/java/com/silenteight/simulator/processing/alert/index/feed/RecommendationsGeneratedUseCase.java
  modules/simulator/simulator-processing/src/test/java/com/silenteight/simulator/processing/alert/index/ack/AckMessageFixtures.java
  modules/simulator/simulator-processing/src/test/java/com/silenteight/simulator/processing/alert/index/feed/RecommendationsGeneratedUseCaseTest.java
  modules/simulator/simulator-processing/src/test/java/com/silenteight/simulator/processing/alert/index/fixtures/RecommendationFixtures.java
Owners: none

Feature: Set `FINISH` on Simulation when all messages are acked and all alerts are indexed. (WEB-2317)
  modules/simulator/simulator-db-changelog/src/main/resources/db/changelog/db.changelog-simulator-1.5.0.xml
  modules/simulator/simulator-management/src/main/java/com/silenteight/simulator/management/create/CreateSimulationUseCase.java
  modules/simulator/simulator-management/src/main/java/com/silenteight/simulator/management/domain/SimulationEntity.java
  modules/simulator/simulator-management/src/main/java/com/silenteight/simulator/management/domain/SimulationQuery.java
  modules/simulator/simulator-management/src/main/java/com/silenteight/simulator/management/domain/SimulationRepository.java
  modules/simulator/simulator-management/src/main/java/com/silenteight/simulator/management/domain/SimulationService.java
  modules/simulator/simulator-management/src/main/java/com/silenteight/simulator/management/domain/SimulationState.java
  modules/simulator/simulator-management/src/main/java/com/silenteight/simulator/management/domain/SimulationStateProvider.java
  modules/simulator/simulator-management/src/main/java/com/silenteight/simulator/management/timeout/SimulationTimeoutService.java
  modules/simulator/simulator-management/src/test/java/com/silenteight/simulator/management/domain/SimulationEntityTest.java
  modules/simulator/simulator-management/src/test/java/com/silenteight/simulator/management/domain/SimulationQueryTest.java
  modules/simulator/simulator-management/src/test/java/com/silenteight/simulator/management/domain/SimulationServiceTest.java
  modules/simulator/simulator-processing/src/main/java/com/silenteight/simulator/processing/alert/index/ack/AckMessageConfiguration.java
  modules/simulator/simulator-processing/src/main/java/com/silenteight/simulator/processing/alert/index/ack/FetchAckMessageUseCase.java
  modules/simulator/simulator-processing/src/test/java/com/silenteight/simulator/processing/alert/index/ack/AckMessageFixtures.java
  modules/simulator/simulator-processing/src/test/java/com/silenteight/simulator/processing/alert/index/ack/FetchAckMessageUseCaseTest.java
Owners: none

fix: use latest learning engine; it creates the necessary queues/exchanges.
  charts/sear/values.yaml
  kubernetes/values.hotel.yaml
  kubernetes/values.sierra.yaml
Owners: none

feat(ae): Caching comment templates (AEP2-965) (#30)
  modules/adjudication-engine/adjudication-engine-app/src/main/java/com/silenteight/adjudication/engine/app/caching/CachingConfig.java
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/config/application.yml
  modules/adjudication-engine/adjudication-engine-comments/src/main/java/com/silenteight/adjudication/engine/comments/comment/CommentCacheConfiguration.java
  modules/adjudication-engine/adjudication-engine-comments/src/main/java/com/silenteight/adjudication/engine/comments/comment/CommentProperties.java
  modules/adjudication-engine/adjudication-engine-comments/src/main/java/com/silenteight/adjudication/engine/comments/comment/CommentTemplateRepository.java
  modules/adjudication-engine/adjudication-engine-comments/src/main/java/com/silenteight/adjudication/engine/comments/comment/CommentTemplateService.java
  modules/adjudication-engine/adjudication-engine-comments/src/main/java/com/silenteight/adjudication/engine/comments/comment/FreemarkerCommentTemplateLoader.java
Owners: none

Add WL aliases to agent.yaml + Address2 field
  etl-pipeline/config/agents/agents.yaml
  etl-pipeline/etl_pipeline/custom/ms/watchlist_extractor/__init__.py
  etl-pipeline/etl_pipeline/data_processor_engine/json_engine/json_engine.py
  etl-pipeline/etl_pipeline/pattern_json.py
  etl-pipeline/notebooks/Local json pipeline.ipynb
  etl-pipeline/tests/shared/big_fat_payload_parsed.pkl
  etl-pipeline/tests/shared/empty_payload.pkl
  etl-pipeline/tests/shared/parsed_payload.pkl
  etl-pipeline/tests/shared/parsed_payload_2_payload.pkl
  etl-pipeline/tests/test_json/constant.py
Owners: none

Correct yaml configs
  etl-pipeline/config/agents/agents.yaml
  etl-pipeline/config/pipeline/pipeline.yaml
  etl-pipeline/notebooks/Local json pipeline.ipynb
  etl-pipeline/tests/shared/big_fat_payload_parsed.pkl
Owners: none

Bump version: 0.5.29-dev → 0.5.30-dev
  etl-pipeline/setup.cfg
  etl-pipeline/setup.py
Owners: none

Ks/uds reconnect
  agent-base/agent_base/agent_exchange/agent_data_source.py
  agent-base/agent_base/example.py
  agent-base/agent_base/utils/config.py
  agent-base/agent_base/utils/consul.py
  agent-base/agent_base/utils/logger.py
Owners: none

Ks/uds reconnect fix
  agent-base/agent_base/agent_exchange/agent_data_source.py
  agent-base/agent_base/utils/logger.py
Owners: none

Bump version: 0.22.0-dev → 0.23.0-dev
  agent-base/setup.cfg
  agent-base/setup.py
Owners: none

docs(debugging): add information on how to remove probes from deployment
  docs/development/debugging-in-kubernetes.md
Owners: none

docs: document a way to debug applications in Kubernetes
  README.md
  docs/development/debugging-in-kubernetes.md
  docs/development/img/remote-configuration.png
  docs/development/img/remote-jvm-debug.png
Owners: none

build: remove Java vendor requirement (#39)
  build-logic/java-base/src/main/groovy/com.silenteight.iris.build.java-base.gradle
Owners: @SilentEight/architecture

chore: add pre-commit back (#35)
  .jenkins/Jenkinsfile
Owners: @SilentEight/devops

ci: remove pre-commit GitHub action
  .github/workflows/pre-commit.yml
Owners: @ahaczewski

fix: use maven publishing config for maven-publish (#41)
  build-logic/java-base/src/main/groovy/com.silenteight.iris.build.java-base.gradle
  build-logic/root-build/src/main/groovy/com.silenteight.iris.build.root-build.gradle
  modules/data-source-api/data-source-api/build.gradle
Owners: @SilentEight/architecture

fix: publishing problem - newer plugin works ok (#43)
  modules/warehouse/warehouse-documentation/build.gradle
Owners: @SilentEight/architecture

chore: set ulimits in docker-compose as numbers
  docker-compose.yml
Owners: none

feat(data-source-api): Add API between Data Source and Negative News Screening Agent (MI6-1572) (#42)
  modules/data-source-api/data-source-api/src/main/proto/silenteight/datasource/api/ispep/v2/ispep.proto
  modules/data-source-api/data-source-api/src/main/proto/silenteight/datasource/api/ispep/v2/newsage.proto
Owners: none

Agent input config offline load
  etl-pipeline/config/agents/agents.yaml
  etl-pipeline/etl_pipeline/application/__init__.py
  etl-pipeline/etl_pipeline/config/__init__.py
  etl-pipeline/etl_pipeline/service/agent_router/__init__.py
  etl-pipeline/etl_pipeline/service/servicer.py
  etl-pipeline/notebooks/Local json pipeline.ipynb
  etl-pipeline/pipelines/ms/ms_pipeline.py
Owners: none

Remove list type from pair input-match
  etl-pipeline/Jenkinsfile
  etl-pipeline/etl_pipeline/service/agent_router/__init__.py
  etl-pipeline/pipelines/ms/ms_pipeline.py
  etl-pipeline/tests/test_json/data_source_stub.py
  etl-pipeline/tests/test_json/test_agents_configuration.py
  etl-pipeline/tests/test_json/test_json_pipeline.py
Owners: none

fix: publishing problem - typo in env var name (#45)
  .jenkins/Jenkinsfile
Owners: @SilentEight/devops

chore(idea): remove .idea/misc.xml
  .idea/.gitignore
  .idea/misc.xml
Owners: @ahaczewski

fix(pb): test GreenMailServer - port reservation (#44)
  modules/payments-bridge/sear-payments-bridge-app/src/test/java/com/silenteight/payments/bridge/app/integration/PaymentsBridgeApplicationIT.java
Owners: none

Add protobuf constraint
  etl-pipeline/setup.py
Owners: none

ci: add Bash shebang to pre-commit script (#46)
  .jenkins/Jenkinsfile
Owners: @SilentEight/devops

fix(pb): add AGENT_ERROR as potential result for company name category (#47)
  modules/payments-bridge/sear-payments-bridge-app/src/main/resources/config/application.yml
Owners: none

Internal: fix jwt decoder bean missing (#48)
  modules/governance/governance-app/src/main/resources/config/application-sierra.yml
  modules/webapp/sens-webapp-backend/src/main/resources/config/application-sierra.yml
Owners: none

chore: add version to docker-compose.yml
  docker-compose.yml
Owners: none

chore(pb): getting default specific terms if not present in aws s3 (#50)
  modules/payments-bridge/sear-payments-bridge-agents/src/main/java/com/silenteight/payments/bridge/agents/service/SpecificTerms2Configuration.java
  modules/payments-bridge/sear-payments-bridge-agents/src/main/java/com/silenteight/payments/bridge/agents/service/SpecificTerms2TermsProvider.java
Owners: none
