Repository ngraczykowski/iris-root, changes with the owners that CODEOWNERS names for each.
All owners: @SilentEight/delta, @SilentEight/whiskey, @SilentEight/all-in, @SilentEight/agents, @ahaczewski, @SilentEight/devops, @SilentEight/architecture, @pputerla, @snieguu, @SilentEight/qa

CODEOWNERS:

####################################################################################################
# NOTE(ahaczewski): Add code owners for modules below.
####################################################################################################

#----------------------------------------------------------
# Delta team
#----------------------------------------------------------
/modules/adjudication-engine/**/*     @SilentEight/delta
/modules/payments-bridge/**/*         @SilentEight/delta
/modules/universal-data-source/**/*   @SilentEight/delta

#----------------------------------------------------------
# Whiskey team
#----------------------------------------------------------
/modules/warehouse/**/*   @SilentEight/whiskey

#----------------------------------------------------------
# All-In team
#----------------------------------------------------------
/modules/core-bridge/**/*                           @SilentEight/all-in
/modules/core-bridge-recommendation-connector/**/*  @SilentEight/all-in
/modules/core-bridge-registration-connector/**/*    @SilentEight/all-in
/modules/hsbc-bridge/**/*                           @SilentEight/all-in
/modules/ms-bridge/**/*                             @SilentEight/all-in
/modules/protobuf-spring-boot-starter/**/*          @SilentEight/all-in

#----------------------------------------------------------
# Agents team
#----------------------------------------------------------
/modules/agents/**/*    @SilentEight/agents

####################################################################################################
# NOTE(ahaczewski): Add code owners for modules above. Do not modify owners below.
####################################################################################################

/gradle/wrapper/* @ahaczewski
/gradlew          @ahaczewski
/gradlew.bat      @ahaczewski

/.jenkins/*           @SilentEight/devops
/.github/*            @SilentEight/architecture
/.github/workflows/*  @ahaczewski

/.idea/**/*               @ahaczewski @pputerla @snieguu
/.pre-commit-config.yaml  @ahaczewski @pputerla @snieguu
/CODEOWNERS               @ahaczewski
.editorconfig             @ahaczewski @pputerla @snieguu
.gitattributes            @ahaczewski @pputerla @snieguu
.gitignore                @ahaczewski @pputerla @snieguu

/build-logic/**/*   @SilentEight/architecture
/platforms/**/*     @SilentEight/architecture
/gradle/*.toml      @SilentEight/architecture
build.gradle        @SilentEight/architecture
gradle.properties   @SilentEight/architecture
settings.gradle     @SilentEight/architecture

/tests/**/*       @SilentEight/qa

INTERNAL: Move dependencies from starters to build.gradle(s) and remove unused (MI6-638)
  modules/agent-commons/agent-config-loader/build.gradle
  modules/agent-commons/agent-dependencies-common/build.gradle
  modules/agent-commons/agent-starter-test/build.gradle
  modules/agent-commons/file-reading-commons/build.gradle
  modules/agent-commons/gradle.properties
  modules/agent-commons/gradle/scripts/dependencies.gradle
  modules/agent-commons/gradle/scripts/starterCommon.gradle
  modules/agent-commons/gradle/scripts/starterDatabase.gradle
  modules/agent-commons/gradle/scripts/starterGrpcClient.gradle
  modules/agent-commons/gradle/scripts/starterGrpcServer.gradle
  modules/agent-commons/gradle/scripts/starterGrpcTest.gradle
  modules/agent-commons/gradle/scripts/starterJackson.gradle
  modules/agent-commons/gradle/scripts/starterMessaging.gradle
  modules/agent-commons/gradle/scripts/starterMessagingTest.gradle
  modules/agent-commons/gradle/scripts/starterSpockTest.gradle
  modules/agent-commons/gradle/scripts/starterSpring.gradle
  modules/agent-commons/gradle/scripts/starterSpringApp.gradle
  modules/agent-commons/gradle/scripts/starterSpringTest.gradle
  modules/agent-commons/tmp-agent-commons/build.gradle
Owners: @SilentEight/architecture

INTERNAL: Specifying groovy version
  modules/agent-commons/gradle/scripts/dependencies.gradle
  modules/agent-commons/settings.gradle
Owners: @SilentEight/architecture

INTERNAL: Hack for: rabbit broker configuration is not initialized before integration tests
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/MultiFacadeRabbitBrokerTestConfiguration.java
Owners: none

INTERNAL: Separate Name Agent dependencies from other project/repos (MI6-112)
  modules/agent-commons/agent-dependencies-common/build.gradle
  modules/agent-commons/gradle.properties
  modules/agent-commons/settings.gradle
Owners: @SilentEight/architecture

INTERNAL: Remove deprecated SimpleRowsReader class (SEALS-776)
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/SimpleRowsReader.java
  modules/agent-commons/file-reading-commons/src/test/java/com/silenteight/agent/common/io/SimpleRowsReaderTest.java
Owners: none

INTERNAL: Additional file reading method for resources (SEALS-24)
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/Common.java
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/CsvReader.java
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/FileReader.java
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/FileReadingException.java
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/ResourcesReader.java
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/SimpleRowsReader.java
  modules/agent-commons/file-reading-commons/src/test/java/com/silenteight/agent/common/io/ResourcesReaderTest.java
  modules/agent-commons/file-reading-commons/src/test/resources/resourcereader/multiple_values.txt
  modules/agent-commons/file-reading-commons/src/test/resources/resourcereader/single_values.txt
Owners: none

INTERNAL: Map agent responses to struct automatically (MI6-1403)
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/AgentReasonMapper.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/StructReasonMapper.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/Structable.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/StructReasonMapperTest.java
Owners: none

INTERNAL: Use RabbitMQ Common Schema (MI6-1420)
  modules/agent-commons/gradle/scripts/dependencies.gradle
Owners: none

Snapshot 0.30.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Nullable inputStream in resource loader (SEALS-166)
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/ResourcesReader.java
  modules/agent-commons/file-reading-commons/src/test/java/com/silenteight/agent/common/io/ResourcesReaderTest.java
  modules/agent-commons/file-reading-commons/src/test/resources/resourcereader/custom_single_values.txt
Owners: none

test
  modules/agent-commons/build.gradle
Owners: @SilentEight/architecture

Snapshot 0.16.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

Bugfix: handle exceptions with misc messages in AgentErrorHandler (SEALS-842)
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentErrorHandler.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/AgentErrorHandlerTest.java
Owners: none

INTERNAL: Config loader and config tracker enhancements (MI6-560)
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configloader/ConfigLoader.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configtracker/ConfigTrackerModule.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configtracker/ConfigsChangeTrackerConfiguration.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configtracker/ConfigsChangedEvent.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configtracker/ConfigsChangedEventPublisher.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configtracker/ConfigsChangedListener.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configtracker/ConfigsLoader.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configtracker/ContextRefreshedConfigsChangeTracker.java
  modules/agent-commons/agent-config-loader/src/test/java/com/silenteight/agent/configtracker/ConfigsTrackerTest.java
  modules/agent-commons/agent-config-loader/src/test/resources/conf/tracker/confs.yml
Owners: none

INTERNAL: Extracted versions from agents (MI6-638)
  modules/agent-commons/agent-dependencies-common/.editorconfig
  modules/agent-commons/agent-dependencies-common/build.gradle
  modules/agent-commons/build.gradle
  modules/agent-commons/gradle/scripts/dependencies.gradle
Owners: @ahaczewski, @pputerla, @snieguu, @SilentEight/architecture

Revert "INTERNAL: Added overriden version of configs loader with path as an argument (MI6-1102)"
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configloader/AgentConfigsLoader.java
Owners: none

Bugfix: declare queues as Declarables bean (SEALS-910)
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/MultiQueueRabbitBrokerConfiguration.java
Owners: none

INTERNAL: Upgrade Spring Boot to 2.6.6 (MI6-1416)
  modules/agent-commons/agent-dependencies-common/build.gradle
Owners: @SilentEight/architecture

INTERNLA: Introduce configuration name parameter for CompareLocations… (#7)
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AbstractAgentFacade.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AbstractAgentFacadeForMatch.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentFacade.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentFacadeProcessor.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentFacadeWorker.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/ConfigurationNameGenerator.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/MultiQueueIntegrationConfiguration.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/SingleQueueIntegrationConfiguration.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/AbstractAgentFacadeTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/AgentFacadeProcessorTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/AgentFacadeWorkerTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/ConfigurationNameGeneratorTest.java
Owners: none

INTERNAL: Improve logs(SEALS-696)
  modules/agent-commons/agent-autoconfigure/src/main/java/com/silenteight/agent/autoconfigure/grpc/GrpcConfiguration.java
  modules/agent-commons/agent-config-loader/build.gradle
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configloader/AgentConfigsLoader.java
  modules/agent-commons/agent-dictionaries/build.gradle
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/DictionaryInstanceProvider.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/MultiValueDictionary.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/SingleValueDictionary.java
  modules/agent-commons/agent-facade-core/build.gradle
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AbstractAgentFacadeForMatch.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentFacadeDataExtractor.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentFacadeProcessor.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentFacadeWorker.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/MultiQueueIntegrationConfiguration.java
  modules/agent-commons/agent-messaging/build.gradle
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/proto/AnyUtils.java
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/proto/MessageRegistry.java
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/proto/MessageRegistryFactory.java
  modules/agent-commons/agent-monitoring/src/main/java/com/silenteight/agent/monitoring/MonitoringConfiguration.java
Owners: @SilentEight/architecture

feat(agent-commons): Change group name
  gradle/libs.versions.toml
  modules/agents/agent-commons/agent-facade-core/build.gradle
  modules/agents/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Specify groovy-all version for spock tests
  modules/agent-commons/agent-dependencies-common/build.gradle
Owners: @SilentEight/architecture

Snapshot 0.32.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Fail the build when Sonar raises blocker, critical or major issues (MI6-916)
  modules/agent-commons/Jenkinsfile
Owners: none

INTERNAL: Remove dummy sentry monitoring bean (SEALS-667)
  modules/agent-commons/agent-monitoring/README.md
  modules/agent-commons/agent-monitoring/src/main/java/com/silenteight/agent/monitoring/MonitoringConfiguration.java
Owners: none

Snapshot 0.38.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Single key single value resource loader (SEALS-22)
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/Common.java
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/InvalidDictionaryFormatException.java
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/ResourcesReader.java
  modules/agent-commons/file-reading-commons/src/test/java/com/silenteight/agent/common/io/ResourcesReaderTest.java
  modules/agent-commons/file-reading-commons/src/test/resources/resourcereader/invalid_key_value_format.txt
  modules/agent-commons/file-reading-commons/src/test/resources/resourcereader/single_key_single_value.txt
Owners: none

Snapshot 0.25.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Update Gradle version
  modules/agent-commons/gradle/wrapper/gradle-wrapper.jar
  modules/agent-commons/gradle/wrapper/gradle-wrapper.properties
  modules/agent-commons/gradlew
  modules/agent-commons/gradlew.bat
Owners: none

Snapshot 0.8.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

add README
  modules/agent-commons/README.md
Owners: none

INTERNAL: Add default post processors + lz4 with correct order (MI6-1405)
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/AgentMessagePostProcessors.java
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/Lz4CompressingPostProcessor.java
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/Lz4DecompressingPostProcessor.java
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/Lz4Utils.java
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/MessagingConfiguration.java
  modules/agent-commons/agent-messaging/src/main/java/com/silenteight/agent/common/messaging/RabbitConfiguringPostProcessor.java
  modules/agent-commons/agent-messaging/src/test/java/com/silenteight/agent/common/messaging/Lz4PostProcessorsTest.java
Owners: none

INTERNAL: Add method getKeys in SingleValueDictionary (SEALS-970)
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/SingleValueDictionary.java
Owners: none

INTERNAL: Move Dictionary API from linguistics to agent-commons (SEALS-421)
  modules/agent-commons/agent-dictionaries/README.md
  modules/agent-commons/agent-dictionaries/conf/dictionaries/test.dict
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/BaseNormalizedValuesDictionary.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/ConfigFileDictionarySource.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/Dictionary.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/DictionaryInstanceProvider.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/DictionaryLineFilters.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/DictionaryLineTransformers.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/DictionarySource.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/DictionaryStream.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/FileDictionarySource.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/KeysAndMultipleValues.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/KeysAndSingleValue.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/LineDictionarySource.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/MultiDictionarySource.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/MultiValueDictionary.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/MultipleValues.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/RelatedValuesDictionary.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/ResourceDictionarySource.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/SingleValueDictionary.java
  modules/agent-commons/agent-dictionaries/src/main/java/com/silenteight/agent/common/dictionary/UniqueValuesDictionary.java
  modules/agent-commons/agent-dictionaries/src/test/java/com/silenteight/agent/common/dictionary/DictionarySourceTest.java
  modules/agent-commons/agent-dictionaries/src/test/java/com/silenteight/agent/common/dictionary/MultiValueDictionaryTest.java
  modules/agent-commons/agent-dictionaries/src/test/java/com/silenteight/agent/common/dictionary/RelatedValuesDictionaryTest.java
  modules/agent-commons/agent-dictionaries/src/test/java/com/silenteight/agent/common/dictionary/SingleValueDictionaryTest.java
  modules/agent-commons/agent-dictionaries/src/test/java/com/silenteight/agent/common/dictionary/TestDictionary.java
  modules/agent-commons/agent-dictionaries/src/test/java/com/silenteight/agent/common/dictionary/TestDictionaryFactory.java
  modules/agent-commons/agent-dictionaries/src/test/java/com/silenteight/agent/common/dictionary/TestSource.java
  modules/agent-commons/agent-dictionaries/src/test/java/com/silenteight/agent/common/dictionary/UniqueValuesDictionaryTest.java
  modules/agent-commons/agent-dictionaries/src/test/resources/com/silenteight/agent/common/dictionary/multi_value_dictionary.dict
  modules/agent-commons/agent-dictionaries/src/test/resources/com/silenteight/agent/common/dictionary/related_values_dictionary.dict
  modules/agent-commons/agent-dictionaries/src/test/resources/com/silenteight/agent/common/dictionary/single_value_dictionary.dict
  modules/agent-commons/agent-dictionaries/src/test/resources/com/silenteight/agent/common/dictionary/source/test_source.txt
  modules/agent-commons/agent-dictionaries/src/test/resources/com/silenteight/agent/common/dictionary/unique_values_dictionary.txt
  modules/agent-commons/gradle/scripts/dependencies.gradle
  modules/agent-commons/settings.gradle
Owners: @SilentEight/architecture

INTERNAL: Document modules usage (AGS-8)
  modules/agent-commons/README.md
Owners: none

Snapshot 0.21.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Fix Sonar Minors
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/ConfigurationNameGenerator.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/AgentFacadeWorkerTest.java
Owners: none

INTERNAL: Update protobuf-bom due to CVE-2021-22569
  modules/agent-commons/agent-dependencies-common/build.gradle
Owners: @SilentEight/architecture

Feature: Support for tracking various properties types from one location (MI6-806)
  modules/agent-commons/agent-config-loader/conf/tracker/first_confs.yml
  modules/agent-commons/agent-config-loader/conf/tracker/second_confs.yml
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configloader/AgentConfigsLoader.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configloader/ConfigParser.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configloader/SpringConfigurationPropertiesLoader.java
  modules/agent-commons/agent-config-loader/src/test/java/com/silenteight/agent/configloader/SpringConfigurationPropertiesLoaderTest.java
  modules/agent-commons/agent-config-loader/src/test/java/com/silenteight/agent/configtracker/ConfigsTrackerTest.java
  modules/agent-commons/agent-config-loader/src/test/resources/com/silenteight/agent/configloader/unknown.properties
Owners: none

INTERNAL: Configure sonar build failing (AGS-7)
  modules/agent-commons/Jenkinsfile
Owners: none
