Repository ngraczykowski/iris-root, changes with the owners that CODEOWNERS names for each.
All owners: @SilentEight/delta, @SilentEight/whiskey, @SilentEight/all-in, @SilentEight/agents, @ahaczewski, @SilentEight/devops, @SilentEight/architecture, @pputerla, @snieguu, @SilentEight/qa

CODEOWNERS:

####################################################################################################
# NOTE(ahaczewski): Add code owners for modules below.
####################################################################################################

#----------------------------------------------------------
# Delta team
#----------------------------------------------------------
/modules/adjudication-engine/**/*     @SilentEight/delta
/modules/payments-bridge/**/*         @SilentEight/delta
/modules/universal-data-source/**/*   @SilentEight/delta

#----------------------------------------------------------
# Whiskey team
#----------------------------------------------------------
/modules/warehouse/**/*   @SilentEight/whiskey

#----------------------------------------------------------
# All-In team
#----------------------------------------------------------
/modules/core-bridge/**/*                           @SilentEight/all-in
/modules/core-bridge-recommendation-connector/**/*  @SilentEight/all-in
/modules/core-bridge-registration-connector/**/*    @SilentEight/all-in
/modules/hsbc-bridge/**/*                           @SilentEight/all-in
/modules/ms-bridge/**/*                             @SilentEight/all-in
/modules/protobuf-spring-boot-starter/**/*          @SilentEight/all-in

#----------------------------------------------------------
# Agents team
#----------------------------------------------------------
/modules/agents/**/*    @SilentEight/agents

####################################################################################################
# NOTE(ahaczewski): Add code owners for modules above. Do not modify owners below.
####################################################################################################

/gradle/wrapper/* @ahaczewski
/gradlew          @ahaczewski
/gradlew.bat      @ahaczewski

/.jenkins/*           @SilentEight/devops
/.github/*            @SilentEight/architecture
/.github/workflows/*  @ahaczewski

/.idea/**/*               @ahaczewski @pputerla @snieguu
/.pre-commit-config.yaml  @ahaczewski @pputerla @snieguu
/CODEOWNERS               @ahaczewski
.editorconfig             @ahaczewski @pputerla @snieguu
.gitattributes            @ahaczewski @pputerla @snieguu
.gitignore                @ahaczewski @pputerla @snieguu

/build-logic/**/*   @SilentEight/architecture
/platforms/**/*     @SilentEight/architecture
/gradle/*.toml      @SilentEight/architecture
build.gradle        @SilentEight/architecture
gradle.properties   @SilentEight/architecture
settings.gradle     @SilentEight/architecture

/tests/**/*       @SilentEight/qa

fix(ae): remove solving alert from cache when no more required
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/listener/RemoveProcessedAlertListener.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/ProcessConfiguration.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/process/SolvedAlertProcess.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/domain/AlertSolvingRepository.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/domain/event/AlertSolvedEvent.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/infrastructure/guava/GuavaAlertSolvingRepository.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/infrastructure/hazelcast/HazelcastAlertSolvingRepository.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/listener/ApplicationEventPublisherMock.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/InMemoryAlertSolvingRepositoryMock.java
  modules/adjudication-engine/adjudication-engine-solving/src/test/java/com/silenteight/adjudication/engine/solving/application/process/SolvedAlertProcessTest.java
Owners: @SilentEight/delta

fix(agent-commons): use agents api from project and include missing test dep (#503)
  gradle/libs.versions.toml
  modules/agents-api/gradle.properties
  modules/agents-api/settings.gradle
  modules/agents/agent-commons/agent-database-test/build.gradle
Owners: @SilentEight/architecture

fix(wh): Adjust hotel config to hsbc installer version (#506)
  modules/warehouse/warehouse-app/src/main/resources/config/application-hotel.yml
Owners: @SilentEight/whiskey

fix(gender-agent): use agent group id for all agent commons modules (#505)
  modules/agents/agent-commons/agent-autoconfigure/build.gradle
  modules/agents/agent-commons/agent-config-loader/build.gradle
  modules/agents/agent-commons/agent-database-test/build.gradle
  modules/agents/agent-commons/agent-database/build.gradle
  modules/agents/agent-commons/agent-dictionaries/build.gradle
  modules/agents/agent-commons/agent-facade-core/build.gradle
  modules/agents/agent-commons/agent-logging/build.gradle
  modules/agents/agent-commons/agent-messaging/build.gradle
  modules/agents/agent-commons/agent-metrics/build.gradle
  modules/agents/agent-commons/agent-monitoring/build.gradle
  modules/agents/agent-commons/agent-starter-test/build.gradle
  modules/agents/agent-commons/agent-starter/build.gradle
  modules/agents/agent-commons/file-reading-commons/build.gradle
  modules/agents/agent-commons/gradle.properties
Owners: @SilentEight/architecture

feat(ae): hotel env comment template configuration (#508)
  kubernetes/values.hotel.yaml
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/agent-utils.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/alerted-party-type.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/common-ap.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/common-mp.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/common-names.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/country-agent-helper.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/date-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/document-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/gender-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/geo-place-of-birth.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/geo-residency.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/incorporation-countries.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/invalid-alert.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/is-ap-tp-marked.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/is-case-tp-marked.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/is-hsbc-pep.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/is-tp-marked.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/logical-discounting-dob.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/name-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/national-id-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/nationality-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/news-age.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/other-countries.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/passport-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/place-of-birth-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/registration-countries.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/registration-number-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/residency-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/tax-id-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agents/wl-type.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/alert-utils.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/alert.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/match-utils.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/match.ftl
Owners: @SilentEight/delta

fix(ae): Don't send request to governance if already sent (#509)
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/application/publisher/ReadyMatchFeatureVectorPublisher.java
  modules/adjudication-engine/adjudication-engine-solving/src/main/java/com/silenteight/adjudication/engine/solving/domain/Match.java
Owners: @SilentEight/delta

fix(build): clean logs before fetching them (#510)
  scripts/get-logs.sh
Owners: none

feat: rename is-pep to watchlist agent (#504)
  charts/sear/values.yaml
  kubernetes/values.core.yaml
  kubernetes/values.hotel-backend.yaml
  kubernetes/values.hotel.yaml
Owners: none

feat(ae): hotel env comment template configuration flattened (#513)
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/agent-utils.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/alerted-party-type.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/common-ap.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/common-mp.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/common-names.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/country-agent-helper.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/date-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/document-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/gender-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/geo-place-of-birth.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/geo-residency.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/incorporation-countries.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/invalid-alert.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/is-ap-tp-marked.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/is-case-tp-marked.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/is-hsbc-pep.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/is-tp-marked.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/logical-discounting-dob.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/match.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/name-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/national-id-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/nationality-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/news-age.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/other-countries.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/passport-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/place-of-birth-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/registration-countries.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/registration-number-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/residency-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/tax-id-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/hotel/wl-type.ftl
Owners: @SilentEight/delta

fix(scb-bridge): fix two randomly failing tests in GnsRtInFlightRequestSpec (#511)
  modules/scb-bridge/scb-bridge-app/src/test/groovy/com/silenteight/iris/bridge/scb/ingest/adapter/incomming/gnsrt/recommendation/GnsRtInFlightRequestSpec.groovy
Owners: none

refactor(pb): add system id to callback failed error (AEP2-1007) (#495)
  modules/payments-bridge/sear-payments-bridge-firco/src/main/java/com/silenteight/payments/bridge/firco/callback/service/SendResponseService.java
  modules/payments-bridge/sear-payments-bridge-firco/src/main/java/com/silenteight/payments/bridge/firco/dto/output/ClientRequestDto.java
Owners: @SilentEight/delta

feat(wh): Update reports for NNS (#520)
  modules/warehouse/warehouse-app/src/main/resources/config/application-hotel.yml
Owners: @SilentEight/whiskey

fix(agent-commons): fix typo in includeBuild path (#521)
  modules/agents/agent-commons/settings.gradle
Owners: @SilentEight/architecture

fix(warehouse): update issuer-uri in Lima and Mike (#522)
  modules/warehouse/warehouse-app/src/main/resources/config/application-lima.yml
  modules/warehouse/warehouse-app/src/main/resources/config/application-mike.yml
Owners: @SilentEight/whiskey

fix(warehouse): fix issuer-uri in lima, hotel, mike (#524)
  modules/warehouse/warehouse-app/src/main/resources/config/application-hotel.yml
  modules/warehouse/warehouse-app/src/main/resources/config/application-lima.yml
  modules/warehouse/warehouse-app/src/main/resources/config/application-mike.yml
Owners: @SilentEight/whiskey

feat(wh): add qa adjusted, qa sampled and hits selected columns to ac… (#525)
  modules/warehouse/warehouse-app/src/main/resources/config/application-lima.yml
Owners: @SilentEight/whiskey

Fix: fixed RecommendedAction mapping (ALFA-319) (#488)
  modules/scb-bridge/scb-bridge-app/build.gradle
  modules/scb-bridge/scb-bridge-app/src/main/java/com/silenteight/iris/bridge/scb/ingest/adapter/incomming/cbs/alertrecord/AlertProcessor.java
  modules/scb-bridge/scb-bridge-app/src/main/java/com/silenteight/iris/bridge/scb/ingest/adapter/incomming/common/ingest/UdsFeedingPublisherMock.java
  modules/scb-bridge/scb-bridge-app/src/main/java/com/silenteight/iris/bridge/scb/ingest/adapter/incomming/common/store/rawalert/RawAlertMapper.java
  modules/scb-bridge/scb-bridge-app/src/main/java/com/silenteight/iris/bridge/scb/ingest/adapter/outgoing/RegistrationMapper.java
  modules/scb-bridge/scb-bridge-app/src/main/java/com/silenteight/iris/bridge/scb/ingest/domain/exceptons/IngestJsonMessageException.java
  modules/scb-bridge/scb-bridge-app/src/main/java/com/silenteight/iris/bridge/scb/ingest/domain/payload/PayloadConverter.java
  modules/scb-bridge/scb-bridge-app/src/main/java/com/silenteight/iris/bridge/scb/outputrecommendation/adapter/outgoing/RecommendationGrpcAdapter.java
  modules/scb-bridge/scb-bridge-app/src/main/java/com/silenteight/iris/bridge/scb/outputrecommendation/adapter/outgoing/RecommendationGrpcMapper.java
  modules/scb-bridge/scb-bridge-app/src/main/java/com/silenteight/iris/bridge/scb/outputrecommendation/domain/QcoRecommendationService.java
Owners: @SilentEight/architecture

doc(kubernates): clarification for <release-name> requirements
  kubernetes/README.md
Owners: none

Update gradle-wrapper.properties
  gradle/wrapper/gradle-wrapper.properties
Owners: @ahaczewski

fix(ae): Flatten foxtrot comments template structure (#530)
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/foxtrot/agent-utils.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/foxtrot/bic.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/foxtrot/country-agent-helper.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/foxtrot/date-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/foxtrot/document-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/foxtrot/gender-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/foxtrot/match.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/foxtrot/name-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/foxtrot/national-id-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/foxtrot/nationality-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/foxtrot/other-countries.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/foxtrot/passport-agent.ftl
  modules/adjudication-engine/adjudication-engine-app/src/main/resources/comment-templates/foxtrot/visa-expiry.ftl
Owners: @SilentEight/delta

test(agents/agent-commons) Copy new tests from agent-commons repo (S8DEV-467)
  modules/agents/agent-commons/agent-dictionaries/src/test/java/com/silenteight/agent/common/dictionary/BaseNormalizedValuesDictionaryTest.java
  modules/agents/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/AgentInputTest.java
  modules/agents/agent-commons/agent-messaging/src/test/java/com/silenteight/agent/common/messaging/CustomExceptionStrategyTest.java
Owners: @SilentEight/agents

tests(scb-bridge): e2e tests for gnsrt rest endpoint (#529)
  kubernetes/values.lima.yaml
  tests/e2e-tests/src/test/java/features/FoxtrotTests.feature
  tests/e2e-tests/src/test/java/features/HotelTests.feature
  tests/e2e-tests/src/test/java/features/LimaTests.feature
  tests/e2e-tests/src/test/java/features/SierraTests.feature
  tests/e2e-tests/src/test/java/features/SmokeTests.feature
  tests/e2e-tests/src/test/java/steps/api/GovernanceSteps.java
  tests/e2e-tests/src/test/java/steps/api/ScbBridgeSteps.java
  tests/e2e-tests/src/test/java/utils/datageneration/governance/FeaturesLogic.java
  tests/e2e-tests/src/test/java/utils/datageneration/governance/GovernanceGenerationService.java
  tests/e2e-tests/src/test/java/utils/datageneration/namescreening/scbbridge/GnsRtRequest.java
  tests/e2e-tests/src/test/java/utils/datageneration/namescreening/scbbridge/GnsRtRequestGenerationService.java
  tests/e2e-tests/src/test/resources/scbbridge/rtrequests/lima/fpRtRequestTemplate.json
  tests/e2e-tests/src/test/resources/scbbridge/rtrequests/lima/investigateRtRequestTemplate.json
  tests/e2e-tests/src/test/resources/scbbridge/rtrequests/lima/ptpRtRequestTemplate.json
Owners: @SilentEight/qa

feat(tm): Added walking skeleton for transaction monitoring (TM-8) (#527)
  modules-tm/build.gradle
  modules-tm/settings.gradle
  modules-tm/transaction-monitoring/Xlint.properties
  modules-tm/transaction-monitoring/build.gradle
  modules-tm/transaction-monitoring/settings.gradle
  modules-tm/transaction-monitoring/transaction-monitoring-app/build.gradle
  modules-tm/transaction-monitoring/transaction-monitoring-app/src/main/java/com/silenteight/sear/HelloWorldController.java
  modules-tm/transaction-monitoring/transaction-monitoring-app/src/main/java/com/silenteight/sear/TransactionMonitoringApplication.java
  modules-tm/transaction-monitoring/transaction-monitoring-app/src/test/java/com/silenteight/sear/HelloWorldControllerTest.java
  settings.gradle
Owners: @SilentEight/architecture

ci: Initial attempt to build ETL (#501)
  .jenkins/Jenkinsfile
  modules/etl-pipeline/fastdeploy.jenkinsfile
  modules/etl-pipeline/scripts/build_dist.sh
  modules/etl-pipeline/scripts/build_package.sh
  modules/etl-pipeline/setup.cfg
  modules/etl-pipeline/setup.py
  modules/governance/Jenkinsfile
  modules/sep-file-storage-minio/Jenkinsfile
  modules/sep-filestorage-api/Jenkinsfile
  modules/sep-usermanagement-api/Jenkinsfile
  modules/simulator/Jenkinsfile
  modules/universal-data-source/Jenkinsfile
  modules/webapp/Jenkinsfile
  scripts/pre-commit.sh
Owners: @SilentEight/devops, @SilentEight/delta

fix(build): Fix spring-boot dependency inconsistency(S8DEV-507)
  modules/backend/governance-common-web/build.gradle
  modules/backend/sens-webapp-scb-report/build.gradle
  modules/warehouse/warehouse-common/build.gradle
  modules/webapp/sens-webapp-backend/build.gradle
Owners: @SilentEight/architecture

feat(hsbc-bridge): allign hsbc bridge to warehouse to store NNS alerts (ALL-809)
  modules/hsbc-bridge/hsbc-bridge-app/src/main/java/com/silenteight/hsbc/bridge/json/external/model/MultiValueFieldDeserializer.java
  modules/hsbc-bridge/hsbc-bridge-app/src/main/java/com/silenteight/hsbc/bridge/json/external/model/NegativeNewsScreeningEntities.java
  modules/hsbc-bridge/hsbc-bridge-app/src/main/java/com/silenteight/hsbc/bridge/json/external/model/NegativeNewsScreeningIndividuals.java
  modules/hsbc-bridge/hsbc-bridge-app/src/main/java/com/silenteight/hsbc/bridge/json/external/model/PrivateListIndividual.java
  modules/hsbc-bridge/hsbc-bridge-app/src/main/java/com/silenteight/hsbc/bridge/json/internal/model/NegativeNewsScreeningEntities.java
  modules/hsbc-bridge/hsbc-bridge-app/src/main/java/com/silenteight/hsbc/bridge/json/internal/model/NegativeNewsScreeningIndividuals.java
  modules/hsbc-bridge/hsbc-bridge-app/src/main/java/com/silenteight/hsbc/datasource/datamodel/NegativeNewsScreeningEntities.java
  modules/hsbc-bridge/hsbc-bridge-app/src/main/java/com/silenteight/hsbc/datasource/datamodel/NegativeNewsScreeningIndividuals.java
  modules/hsbc-bridge/hsbc-bridge-app/src/test/groovy/com/silenteight/hsbc/datasource/category/CategoryModelHolderSpec.groovy
Owners: @SilentEight/all-in

refactor(core-bridge): change retry policy for adding alerts to analysis (ALL-834) (#533)
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/grpc/AlertRegistrationGrpcAdapter.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/grpc/AlertRegistrationMapper.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/grpc/AnalysisServiceGrpcAdapter.java
  modules/core-bridge/bridge-app/src/main/java/com/silenteight/bridge/core/registration/adapter/outgoing/grpc/DefaultModelServiceAdapter.java
  modules/core-bridge/bridge-app/src/main/resources/application.yaml
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/outgoing/grpc/AlertRegistrationGrpcAdapterSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/outgoing/grpc/AlertRegistrationMapperSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/outgoing/grpc/AnalysisServiceGrpcAdapterSpec.groovy
  modules/core-bridge/bridge-app/src/test/groovy/com/silenteight/bridge/core/registration/adapter/outgoing/grpc/DefaultModelServiceAdapterSpec.groovy
Owners: @SilentEight/all-in
