Repository ngraczykowski/iris-root, changes with the owners that CODEOWNERS names for each.
All owners: @SilentEight/delta, @SilentEight/whiskey, @SilentEight/all-in, @SilentEight/agents, @ahaczewski, @SilentEight/devops, @SilentEight/architecture, @pputerla, @snieguu, @SilentEight/qa

CODEOWNERS:

####################################################################################################
# NOTE(ahaczewski): Add code owners for modules below.
####################################################################################################

#----------------------------------------------------------
# Delta team
#----------------------------------------------------------
/modules/adjudication-engine/**/*     @SilentEight/delta
/modules/payments-bridge/**/*         @SilentEight/delta
/modules/universal-data-source/**/*   @SilentEight/delta

#----------------------------------------------------------
# Whiskey team
#----------------------------------------------------------
/modules/warehouse/**/*   @SilentEight/whiskey

#----------------------------------------------------------
# All-In team
#----------------------------------------------------------
/modules/core-bridge/**/*                           @SilentEight/all-in
/modules/core-bridge-recommendation-connector/**/*  @SilentEight/all-in
/modules/core-bridge-registration-connector/**/*    @SilentEight/all-in
/modules/hsbc-bridge/**/*                           @SilentEight/all-in
/modules/ms-bridge/**/*                             @SilentEight/all-in
/modules/protobuf-spring-boot-starter/**/*          @SilentEight/all-in

#----------------------------------------------------------
# Agents team
#----------------------------------------------------------
/modules/agents/**/*    @SilentEight/agents

####################################################################################################
# NOTE(ahaczewski): Add code owners for modules above. Do not modify owners below.
####################################################################################################

/gradle/wrapper/* @ahaczewski
/gradlew          @ahaczewski
/gradlew.bat      @ahaczewski

/.jenkins/*           @SilentEight/devops
/.github/*            @SilentEight/architecture
/.github/workflows/*  @ahaczewski

/.idea/**/*               @ahaczewski @pputerla @snieguu
/.pre-commit-config.yaml  @ahaczewski @pputerla @snieguu
/CODEOWNERS               @ahaczewski
.editorconfig             @ahaczewski @pputerla @snieguu
.gitattributes            @ahaczewski @pputerla @snieguu
.gitignore                @ahaczewski @pputerla @snieguu

/build-logic/**/*   @SilentEight/architecture
/platforms/**/*     @SilentEight/architecture
/gradle/*.toml      @SilentEight/architecture
build.gradle        @SilentEight/architecture
gradle.properties   @SilentEight/architecture
settings.gradle     @SilentEight/architecture

/tests/**/*       @SilentEight/qa

fix(test): Fixed get alert from CMAPI e2e test (#456)
  kubernetes/values.sierra.yaml
  tests/e2e-tests/src/test/java/features/SierraTests.feature
Owners: @SilentEight/qa

Bump version: 0.24.1 → 0.24.2
  agent-base/setup.cfg
  agent-base/setup.py
Owners: none

update releasing, remove release.sh
  s8-python-network/s8-python-network/Jenkinsfile
  s8-python-network/s8-python-network/scripts/release.sh
  s8-python-network/s8-python-network/scripts/tag_and_bump_version.sh
Owners: none

fix names in example rabbitmq config
  hit-type-agent/config/application.yaml
Owners: none

Bump version: 0.4.3 → 0.4.4
  hit-type-agent/setup.cfg
  hit-type-agent/setup.py
Owners: none

more specific names in example rabbitmq config
  organization-name-agent/config/application.yaml
Owners: none

fix: Cleaning obsolete and incorrect parameters in agent_details.json (#461)
  modules/backend/governance-agent/src/main/resources/agent_details.json
Owners: none

use agent-base 0.23.3 with uds reconnect timeout
  organization-name-agent/config/application.yaml
  organization-name-agent/requirements.txt
  organization-name-agent/setup.py
Owners: none

more smart example rabbitmq config
  agent-base/config/application.yaml
Owners: none

Bump version: 0.24.2 → 0.24.3
  agent-base/setup.cfg
  agent-base/setup.py
Owners: none

deploy branch pattern - RELEASE->release
  organization-name-agent/Jenkinsfile
Owners: none

Bump version: 0.18.5 → 0.18.6
  organization-name-agent/setup.cfg
  organization-name-agent/setup.py
Owners: none

build: Removes setting Java 11 in agents-api build (#462)
  modules/agents-api/build.gradle
Owners: @SilentEight/architecture

chore: pre-commit fixes
  modules/organization-name-knowledge/Dockerfile
  modules/organization-name-knowledge/Jenkinsfile
  modules/organization-name-knowledge/README.md
  modules/organization-name-knowledge/organization_name_knowledge/resources/common_prefixes.json
  modules/organization-name-knowledge/organization_name_knowledge/resources/joining_words.json
  modules/organization-name-knowledge/organization_name_knowledge/resources/legal_terms.json
  modules/organization-name-knowledge/organization_name_knowledge/resources/markers.json
  modules/organization-name-knowledge/organization_name_knowledge/resources/weak_words.json
  modules/organization-name-knowledge/organization_name_knowledge/resources/words_mapping.json
  modules/organization-name-knowledge/setup.cfg
Owners: none

chore: pre-commit fixes
  modules/agent-base/Jenkinsfile
  modules/agent-base/README.md
  modules/agent-base/setup.cfg
  modules/agent-base/tests/resources/config/env_vars_to_values.json
  modules/agent-base/tox.ini
Owners: none

chore: pre-commit fixes
  modules/hit-type-agent/Jenkinsfile
  modules/hit-type-agent/nomad/configs/application-nomad-dev.yaml
  modules/hit-type-agent/nomad/configs/application-nomad-mike.yaml
  modules/hit-type-agent/nomad/deploy.sh
  modules/hit-type-agent/nomad/prepare.sh
  modules/hit-type-agent/setup.cfg
  modules/hit-type-agent/temp_agent/hit_type_agent.proto
  modules/hit-type-agent/tox.ini
Owners: none

chore: pre-commit fixes
  modules/organization-name-agent/Jenkinsfile
  modules/organization-name-agent/README.md
  modules/organization-name-agent/config/blacklist.txt
  modules/organization-name-agent/config/name-preconditions.yaml
  modules/organization-name-agent/config/reduction-rules.yaml
  modules/organization-name-agent/nomad/configs/dev/application.yaml
  modules/organization-name-agent/nomad/configs/dev/blacklist.txt
  modules/organization-name-agent/nomad/configs/dev/name-preconditions.yaml
  modules/organization-name-agent/nomad/configs/dev/reduction-rules.yaml
  modules/organization-name-agent/nomad/configs/mike/application.yaml
  modules/organization-name-agent/nomad/configs/mike/blacklist.txt
  modules/organization-name-agent/nomad/prepare.sh
  modules/organization-name-agent/pyproject.toml
  modules/organization-name-agent/setup.cfg
  modules/organization-name-agent/tox.ini
Owners: none

chore: pre-commit fixes
  modules/hit-type-agent/temp_agent/hit_type_agent.proto
Owners: none

chore: pre-commit fixes
  modules/bank-identification-codes-agent/Jenkinsfile
  modules/bank-identification-codes-agent/nomad/deploy.sh
  modules/bank-identification-codes-agent/setup.cfg
  modules/bank-identification-codes-agent/tests/resources/logic-test-cases.csv
Owners: none

chore: pre-commit fixes
  modules/s8-python-network/s8-python-network/Jenkinsfile
  modules/s8-python-network/s8-python-network/setup.cfg
  modules/s8-python-network/s8-python-network/tox.ini
Owners: none

ci: fix changeset expression
  .jenkins/Jenkinsfile
Owners: @SilentEight/devops

ci(renovate): change renovate schedule to run over weekends only
  renovate.json
Owners: none

ci(renovate): increase stability days before renovating
  renovate.json
Owners: none

Snapshot 0.40.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

Snapshot 0.31.0-SNAPSHOT
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Move facade-core to agent-commons (MI6-1396)
  modules/agent-commons/agent-facade-core/build.gradle
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AbstractAgentFacade.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentErrorHandler.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentFacade.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentFacadeModule.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentFeatureInput.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentInput.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/AgentRequestTimeoutException.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/GrpcDeadlineHandler.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/datasource/AmqpMessageToDataSourceRequestMapper.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/datasource/DataSourceClient.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/datasource/GetMatchInputsCommand.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/datasource/MissingDataSourceResultException.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exception/NoFeatureSolutionException.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/AgentFacadeConfiguration.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/AgentFacadeProperties.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/AgentReasonMapper.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/InvalidProtobufMessageException.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/MessageTransformer.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/MultiQueueIntegrationConfiguration.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/MultiQueueRabbitBrokerConfiguration.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/QueueItem.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/SingleQueueIntegrationConfiguration.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/SingleQueueRabbitBrokerConfiguration.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/AgentExchangeResponseAssert.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/BaseRabbitIntegrationTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/CommonRabbitIntegrationTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/CommonRabbitWithGrpcConfigIntegrationTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/MultiFacadeBaseRabbitIntegrationTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/MultiFacadeRabbitBrokerTestConfiguration.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/MultiFacadeRabbitWithGrpcConfigIntegrationTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/RabbitBrokerTestConfiguration.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/RabbitIntegrationTestFixtures.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/RabbitWithGrpcConfigIntegrationTest.java
  modules/agent-commons/gradle/scripts/dependencies.gradle
  modules/agent-commons/settings.gradle
Owners: @SilentEight/architecture

INTERNAL: Annotation for matching at least one enabled facade in facade-core (MI6-1474)
  modules/agent-commons/agent-facade-core/README.md
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/AgentFacadeConfiguration.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/AtLeastOneFacadeEnabledCondition.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/MultiQueueIntegrationConfiguration.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/MultiQueueRabbitBrokerConfiguration.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/SingleQueueIntegrationConfiguration.java
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/SingleQueueRabbitBrokerConfiguration.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/AtLeastOneFacadeEnabledConditionTest.java
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/MultiFacadeRabbitBrokerTestConfiguration.java
Owners: none

INTERNAL: Add missing test cases (#9)
  modules/agent-commons/file-reading-commons/src/test/java/com/silenteight/agent/common/io/FileReaderTest.java
  modules/agent-commons/file-reading-commons/src/test/resources/filereader/readLinesAsSet.txt
  modules/agent-commons/file-reading-commons/src/test/resources/filereader/readLinesAsStream.txt
  modules/agent-commons/file-reading-commons/src/test/resources/filereader/readMultipleKeyMultipleValues.txt
  modules/agent-commons/file-reading-commons/src/test/resources/filereader/readMultipleValues.txt
  modules/agent-commons/file-reading-commons/src/test/resources/filereader/readRegexpPatternsAsList.txt
  modules/agent-commons/file-reading-commons/src/test/resources/filereader/readSingleKeyMultipleValues.txt
Owners: none

INTERNAL: Dummy monitoring for sentry
  modules/agent-commons/agent-monitoring/src/main/java/com/silenteight/agent/monitoring/MonitoringConfiguration.java
Owners: none

INTERNAL: Update and unify plugins version (MI6-726)
  modules/agent-commons/build.gradle
Owners: @SilentEight/architecture

INTERNAL: Additional file reading method for regular expressions (SEALS-24)
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/FileFormatConstants.java
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/FileReader.java
Owners: none

INTERNAL: Fix RabbitBrokerTestConfiguration (rabbitmq exchange declaration)
  modules/agent-commons/agent-facade-core/src/test/java/com/silenteight/agent/facade/exchange/RabbitBrokerTestConfiguration.java
Owners: none

INTERNAL: Config loader and config tracker enhancements (MI6-560)
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configloader/ConfigLoader.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configloader/ConfigsPathFinder.java
Owners: none

INTERNAL: Use RabbitMQ Common Schema (MI6-1420)
  modules/agent-commons/agent-facade-core/build.gradle
  modules/agent-commons/agent-facade-core/src/main/java/com/silenteight/agent/facade/exchange/AgentFacadeProperties.java
  modules/agent-commons/gradle/scripts/dependencies.gradle
Owners: @SilentEight/architecture

INTERNAL: Move file reading methods to file-reading-commons (SEALS-24)
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/io/FileReader.java
  modules/agent-commons/file-reading-commons/build.gradle
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/CsvReader.java
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/FileFormatConstants.java
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/FileReader.java
  modules/agent-commons/file-reading-commons/src/main/java/com/silenteight/agent/common/io/FileReadingException.java
  modules/agent-commons/gradle/scripts/dependencies.gradle
Owners: @SilentEight/architecture

INTERNAL: Update gradle wrapper
  modules/agent-commons/gradle/wrapper/gradle-wrapper.properties
Owners: none

INTERNAL: Support for nested configuration files (MI6-806)
  modules/agent-commons/agent-config-loader/conf/test-app/nested/nested-app-config.yml
  modules/agent-commons/agent-config-loader/conf/test-app/nested/nested/nested-nested-app-config.yml
  modules/agent-commons/agent-config-loader/conf/test-app/test-app-config.yml
  modules/agent-commons/agent-config-loader/conf/tracker/nested/confs.yml
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configloader/AgentConfigs.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configloader/AgentConfigsLoader.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configtracker/ConfigsLoader.java
  modules/agent-commons/agent-config-loader/src/main/java/com/silenteight/agent/configtracker/ContextRefreshedConfigsChangeTracker.java
  modules/agent-commons/agent-config-loader/src/test/java/com/silenteight/agent/configloader/ConfigLoaderTest.java
  modules/agent-commons/agent-config-loader/src/test/java/com/silenteight/agent/configtracker/ConfigsTrackerTest.java
  modules/agent-commons/gradle.properties
Owners: @SilentEight/architecture

INTERNAL: Document and improve logging approach
  modules/agent-commons/agent-logging/src/main/java/com/silenteight/agents/logging/AgentLogger.java
  modules/agent-commons/doc/architecture/decisions/0001-SYS-use-slf4j-for-common-cases-logging.adoc
Owners: none

INTERNAL: Extracted versions from agents (MI6-638)
  modules/agent-commons/agent-dependencies-common/build.gradle
Owners: @SilentEight/architecture

Internal: Prepare 3.11 release (SERP-637)
  modules/agent-commons/file-reading-commons/build.gradle
Owners: @SilentEight/architecture
